[2017-03-01 19:59] klahnakoski opened #1 "platform specifics should not be in code"
Hopefully the rust standard lib can perform this.

https://github.com/marco-c/grcov/blob/master/src/main.rs#L50

    fn rmdir(directory: &str) {
        let status = Command::new("rm")

[2017-03-01 20:14] marco-c commented on #1
Yeah, this was a quick hack 😄
I will replace it with something better.

[2017-03-01 20:14] #1 closed

[2017-03-01 23:04] marco-c opened #2 "Write README"

[2017-03-02 00:34] marco-c opened #3 "Consider demangling function names"

[2017-03-02 02:01] marco-c opened #4 "Remove `testUrl` from the output"
I added it for compatibility with `ActiveData-ETL`, but it should be removed both here and from ActiveData-ETL.

[2017-03-04 00:23] klahnakoski opened #5 "Requires gcov?"
Does this require gcov?  Please add an example script that can setup some Linux to run the tests.

    let status = Command::new("gcov")

https://github.com/marco-c/grcov/blob/master/src/main.rs#L101

[2017-03-04 00:29] marco-c commented on #5
Yes, it uses `gcov` to parse `gcno` and `gcda` files.

[2017-03-04 00:33] marco-c commented on #5
On Linux, at least on Ubuntu, `gcov` is bundled with `gcc`, so you just need to install `gcc` (at least version 4.9, which is the same minimum requirement for a Firefox build).

[2017-03-04 01:37] #5 closed

[2017-03-06 13:44] klahnakoski opened #7 "Add a deploy script"
It would be nice to have ActiveData-ETL use this.  We need a deploy script (Ubuntu) to help test it, and to know all the know all the dependencies.

[2017-03-06 13:46] klahnakoski commented on #7
Looks like the .travis script is good enough

[2017-03-06 14:36] klahnakoski opened #8 "Windows deploy script?"
Using grcov prevents debugging the ETL pipeline on my local windows machine.

[2017-03-06 22:14] marco-c commented on #7
[code]

Would this be enough? We don't need to download and install Rust and compile `grcov`, we can just use the released build.

[2017-03-06 22:18] klahnakoski commented on #7
Yes, that looks good.

[2017-03-06 22:21] marco-c commented on #7
Cool. I will also add the script to this repo.

[2017-03-06 22:26] marco-c commented on #8
I'm going to build a Windows build and add it to the releases, so something similar to the script from #7 could be used in this case too.

[2017-03-06 22:41] #7 closed

[2017-03-06 22:44] marco-c commented on #8
Added Windows build to https://github.com/marco-c/grcov/releases/tag/v0.1.2.
From now on, I will always provide both a Linux build and a Windows build for every new release.

[2017-03-06 22:44] #8 closed

[2017-03-06 22:55] #2 closed

[2017-03-07 16:43] #4 closed

[2017-03-09 16:44] marco-c opened #9 "Remove support for the old ActiveData-ETL output format"
It is currently used for tests. We have to udpate the tests code in order to remove the old format.

[2017-03-10 05:50] klahnakoski opened #10 "gcov_to_es not working"
Please update the install script to install grcov so that the ActiveData-ETL can use it.  ETL machines are setup by machine, there will be no human to fill in the blanks for scripts that almost work.

[2017-03-10 09:16] marco-c commented on #10
The script downloads grcov in a directory of your choice, you just need to make sure that this directory is in the PATH.

[2017-03-10 13:43] #10 closed

[2017-03-10 13:44] marco-c commented on #10
You can use the new script like this: `./install.sh /usr/local/bin`.

[2017-03-10 17:09] #9 closed

[2017-03-17 01:26] marco-c opened #13 "Add hit counts to lcov and coveralls output"

[2017-03-17 11:47] klahnakoski opened #14 "Is uncovered lines outside functions legitimate?"
This query
    {
	"from":"coverage",
	"where":{"eq":{"_id":"tc.601123:60111463.55"}}
    }
https://activedata.allizom.org/tools/query.html#query_id=w+8Nmnkj

Showing source for `/home/worker/workspace/build/src/js/src/vm/AsyncFunction.cpp`

Shows a orphan record with some lines uncovered:

	"method":{
		"total_covered":0,
		"covered":[],
		"total_uncovered":7,
		"uncovered":[223,210,227,216,220,23

[2017-03-17 11:54] klahnakoski opened #15 "Add `source.language` so we know what's what"
I had a hard time yesterday finding the new c/c++ coverage records.  Maybe we should mark them as such.

I suggest adding `{"source.language": "c/c++"}`  (lowercase).

[2017-03-17 12:02] marco-c commented on #14
This could be because of https://github.com/klahnakoski/ActiveData-ETL/issues/25; at the moment if a function is not executed it is skipped by grcov and the uncovered lines will go in orphan.

[2017-03-17 12:16] marco-c opened #16 "What should the percentage be when we have 0 covered and 0 uncovered lines"

[2017-03-17 12:19] #14 closed

[2017-03-17 12:23] klahnakoski commented on #16
None, or Null, or even better, do not include the `percentage` property

[2017-03-17 12:23] klahnakoski commented on #16
There are functions/sources with zero lines?!!

[2017-03-17 12:27] klahnakoski commented on #16
In general, the following are equivalent:
* `null`
* empty array `[]`
* property is missing

For the sake of size and clarity; neglect the property, when storing `null` or empty arrays `[]`

[2017-03-17 12:28] #15 closed

[2017-03-17 12:32] marco-c commented on #16
Compiler optimizations can do strange things 😄

[2017-03-17 12:48] #16 closed

[2017-03-17 14:07] klahnakoski opened #17 "`source.file.covered` is required when `source.method.name` is missing"
File-level coverage is not required for all records, but it is required when the `source.method.name` is missing:

This query is looking for any covered:
https://activedata.allizom.org/tools/query.html#query_id=fyuJ+KGM

This query is limiting itself to the records that require `source.file-covered`
https://activedata.allizom.org/tools/query.html#query_id=2OdYyxTs

[2017-03-17 14:13] klahnakoski commented on #17
No, the code is good

[2017-03-17 14:13] #17 closed

[2017-03-17 17:50] marco-c opened #18 "Support parsing gcda/gcno files generated by LLVM"
This will be needed for Rust.

[2017-04-10 13:10] sylvestre opened #19 "System headers should be ignored"
example:
https://coveralls.io/builds/11009109/source?filename=gcc%2Finclude%2Fc%2B%2B%2F4.9.4%2Fbits%2Fstl_numeric.h
https://coveralls.io/builds/11009109/source?filename=gcc%2Flib%2Fgcc%2Fx86_64-unknown-linux-gnu%2F4.9.4%2Finclude%2Favxintrin.h

[2017-04-10 20:48] #19 closed

[2017-04-21 19:47] mjzffr opened #20 "Get grcov working on Mozilla's "build" type one-click loaners"
For more context, see https://bugzilla.mozilla.org/show_bug.cgi?id=1350446

I'd like to run grcov on a one-click loaner. The default version of gcc on the loaner is incompatible with grcov. There is no easy way to install a newer version.
* We could ask to reconfigure the one-click-loaner environment to match what is actually used for the build.
* Can grcov support earlier versions of gcc?

The de

[2017-04-21 23:17] marco-c commented on #20
For the GLIBC issue, there are two options:
1) compile and distribute grcov as a standalone binary (using musl instead of glibc);
2) compile grcov on one of the loaner machines, so that the binary links to the libc version that's available on those machines.

It should definitely be possible to support older versions of gcc.

[2017-04-22 18:14] marco-c commented on #20
Could you try this binary (with the PATH modified to use gcc 4.9.4):
[grcov.zip](https://github.com/marco-c/grcov/files/949169/grcov.zip)

[2017-04-24 17:12] mjzffr commented on #20
The provided grcov binary runs.

I also tried running `code-coverage.py` and it yields a report successfully: https://github.com/mjzffr/ccov-reports/tree/master/grcov-one-click-240417-f170ebfc2dfd/report

FYI: when using `--no-download` on the one-click loaner I get an empty output.info on the one-click loaner (although this works fine locally when I place the same gcda/gcno zip files in ccov-arti

[2017-04-24 17:50] marco-c commented on #20
Awesome, so from now on, whenever I release a new grcov version I can simply provide a standalone binary on https://github.com/marco-c/grcov/releases/latest.

Is the `ccov-artifacts` directory you manually created in your working dir?
Here's the code that lists the artifacts:
https://github.com/marco-c/firefox-code-coverage/blob/master/code-coverage.py#L81

[2017-04-24 18:19] marco-c commented on #20
Here's the code that lists the artifacts:
https://github.com/marco-c/firefox-code-coverage/blob/master/code-coverage.py#L81

Perhaps it would be better to modify the parameter `--no-download` into `--with-artifacts=PATH_TO_ARTIFACTS` to avoid issues.

[2017-04-24 18:57] mjzffr commented on #20
Yes, it was in my working dir.

Changing to --with-artifacts is a good idea, either way.

[2017-04-26 21:52] #18 closed

[2017-04-26 23:21] marco-c opened #22 "Support GCC < 4.9.0"

[2017-04-26 23:29] marco-c opened #23 "Clean up code to handle cli options"
Instead of handling them manually, we could use some package (e.g. clap).

[2017-04-27 00:12] marco-c commented on #20
I opened #22 to support GCC < 4.9.0 (even though at this point it isn't strictly required, as we can just set the PATH to use GCC 4.9.4) and https://github.com/marco-c/firefox-code-coverage/issues/4 to support --with-artifacts instead of --no-download (but on a one-click-loaner I guess it's easier for users to just let the script download the artifacts).

[2017-04-27 00:12] #20 closed

[2017-04-27 10:12] marco-c opened #24 "Exit with an error and print logs to stderr on failure"
At the moment some errors are handled like this:
[code]

We should print the error to stderr and `exit(1)`.

[2017-04-28 15:23] #24 closed

[2017-04-28 15:44] marco-c opened #25 "Automatically identify LLVM gcno/gcda files by version"
@jcranmer

[2017-04-28 15:56] jcranmer commented on #25
LLVM uses 402* as its version string for the GCNO/GCDA version (probably because it was meant to be compatible with then-extant gcc on Apple systems, which would be gcc 4.2). Given that we're not likely to be running code that old on gcc (even when I started 7 years ago, we were on gcc 4.4 on Linux), using 402* versus newer versions seems to make sense.

[2017-04-28 16:11] marco-c commented on #25
This is great, thanks. It will solve the problem of builds that mix LLVM and GCC (that is, mozilla-central with Rust code).

[2017-05-16 17:00] marco-c opened #26 "Use named pipes to pass files to gcov instead of extracting files to the FS"

[2017-05-22 21:12] marco-c commented on #26
b36d5edf9cb6a69a3f7e288c43bc5c4d111421d8 added a named pipe for the output of `gcov`. It doesn't really make a difference on my fast machine, but could be more interesting on machines with slow disk.

[2017-05-25 17:21] marco-c opened #27 "Support reading file mappings from a JSON file"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1349640.

[2017-05-26 23:46] klahnakoski opened #28 "Add hit counts to ActiveData output"
Each covered line is in the `covered` array as an object (eg `{"line": 42}`).  Please add the coverage count to this object under `count` property:

Example, Line 42 has been executed 4 times:

    {"line": 42, "count": 4}

The count property should not be included if the count is 1. There should be no objects with count of zero.

[2017-05-27 13:30] #13 closed

[2017-05-29 12:53] #27 closed

[2017-06-25 14:03] klahnakoski opened #31 "grcov not cleaning tmp when done?"
The ActiveData ETL machines use `grcov`, but their drives are being filled with files like

    /tmp/grcov.nfGLoxvBaMDa

is `grcov` cleaning up after it is done?

[2017-06-25 21:33] marco-c commented on #31
It should be, unless it doesn't exit cleanly.
Can you make sure the process is exiting cleanly?

[2017-06-25 21:36] marco-c commented on #31
The best way to handle it would be to use the subprocess as a context manager, otherwise you can implement this yourself: https://github.com/python/cpython/blob/3.5/Lib/subprocess.py#L711 (you'll just need to close the stdout pipe which you are opening at https://github.com/klahnakoski/ActiveData-ETL/blob/aef50f14f05720b79bfd2e45ecea6ec04c48bc68/activedata_etl/transforms/gcov_to_es.py#L240 and the

[2017-06-26 02:42] klahnakoski commented on #31
OK, I think I am doing it correctly now [1].  I do get an error, but I do not know if it is a symptom, or a cause, or both.  I suspect the drive size on the workers is too small (6gigs).

    ip-172-31-0-15 (pid 16960) - 2017-06-26 01:54:08 - ETL Loop 0 - "gcov_to_es.py:186" (run_grcov) - WARNING: grcov error
	[
	    "thread '<unnamed>' panicked at 'Failed to copy file from ZIP: Error { repr: Os {

[2017-06-26 08:30] marco-c commented on #31
How big is /tmp?
Have you cleaned up the old directories under /tmp?

I can add a new argument to grcov to let you extract the files in a different directory if /tmp is too small.

[2017-06-26 20:04] klahnakoski commented on #31
The problem is a small drive size assigned to the ETL machines.  I only wanted to confirm that grcov is removing its temp directory.

[2017-06-26 20:04] #31 closed

[2017-06-29 16:14] gmierz opened #32 "FNF should be FNH"
On this line, https://github.com/marco-c/grcov/blob/a82a737ba7a114ac19d650b1ef0d3db199e1cc67/src/main.rs#L1266

We should be outputting FNH, not FNF. Unless something has changed in how this data is processed?

[2017-06-29 16:34] #32 closed

[2017-06-29 16:43] marco-c commented on #32
I've released a new version with the fix, will upload it on tooltool so we can use it in mozilla-central.

[2017-09-04 13:52] choller opened #33 "Add coveralls format output with function block information"
As discussed on IRC, it would be nice to have an output format specifier that outputs coveralls format, but also adds function information to each child (esp. from where to where, line-wise, functions are in the source file).

This information is very useful for automated analysis on a per-function basis.

[2017-09-11 11:15] marco-c opened #36 "Support parsing branch coverage information"
And outputting it in the Coveralls format.

[2017-09-12 16:35] marco-c opened #39 "Support outputting branch coverage information in LCOV format"
Currently we support outputting it in the Coveralls format, we should support the LCOV format too.

[2017-09-12 16:36] marco-c opened #40 "Don't allocate vectors while parsing the old gcov format"

[2017-09-20 13:12] #40 closed

[2017-10-18 00:24] marco-c opened #41 "Support parsing gcno/gcda files generated on Windows"
Mainly, we will run into issues with paths.

[2017-10-18 13:25] marco-c opened #42 "Don't ignore gcno files which are not associated to any gcda file"
Currently, we are ignoring gcno files which have no gcda file associated. This means files whose lines are never executed are missing from coverage reports.

[2017-10-18 19:47] #42 closed

[2017-10-18 20:18] #33 closed

[2017-11-05 16:30] marco-c commented on #41
c01cc287a0f1898a73b26bee8349aa8351f663f6
5cf7dc9aa763b4825b69a38ec5000c1ccbc0790e
5b19775ebfcec7fdccbdf7b7b8bfdf91212f1e92
3abfd6e3246ccfa1c789cca67d5d9b607f82e081
0e6e405c0536c9a1416bbe6ecf0a200feabac38e
434823655f9616b6021830802c50b592c492f4e5

[2017-11-06 11:17] marco-c commented on #41
ca340b23cc72ea55d58de074c951a7b9c26d63bc
d6815d510590a84718b21b0f787f85869543c6ee
0f14f8ffa089ac378c3c69502f1e2f2290304b02
faef48196d9de069c28f211253f14bf34e0a38a1

[2017-11-06 11:17] #41 closed

[2017-11-14 17:14] marco-c opened #45 "Support testing Windows build on CI"

[2017-11-14 17:15] marco-c commented on #22
Too old version. I will accept patches if somebody wants to add support for it.

[2017-11-14 17:15] #22 closed

[2017-11-24 00:06] marco-c opened #47 "Support GCC 7"
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=82702

[2017-12-05 13:25] #47 closed

[2017-12-19 22:30] lght opened #51 "grcov panics when using LLVM flag"
Platform: Linux x86-64
Compiler: Clang 5, GCC 7.2.0

This issue may be due to me misunderstanding how to use `grcov`.

After generating `.gcda` / `.gcno` files with `cargo-cov`, `grcov` panics when trying to generate `coveralls` formatted files with:

[code]

Here is an example of the errors:
[code]

Not sure if this is related to #25. Thanks in advance for any help.

[2017-12-19 22:45] marco-c commented on #51
Which version of grcov are you testing?
There might be a bug in the master branch that I haven't had time to debug yet.

Could you also upload here the gcda/gcno files in a ZIP?

[2017-12-19 22:50] marco-c commented on #51
Sorry, I meant 0.1.29. Could you test 0.1.28?

[2017-12-19 23:16] lght commented on #51
I am using 0.1.29, will try out 0.1.28.

[2017-12-19 23:49] lght commented on #51
Here are the gcda/gcno files, with a text file of the generated error: [grcov-llvm-panic.zip](https://github.com/marco-c/grcov/files/1573650/grcov-llvm-panic.zip)

[2017-12-20 12:43] marco-c commented on #51
@lght the archive is empty :)

[2017-12-21 00:22] lght commented on #51
derp, here is a second attempt:
[grcov-llvm-panic.zip](https://github.com/marco-c/grcov/files/1577445/grcov-llvm-panic.zip)

[2017-12-21 08:43] marco-c commented on #51
The gcno files in the archive seem to be invalid, as they can't be parsed with `llvm-cov`. Maybe try uploading them on another service and then put the link here?

[2017-12-21 09:05] marco-c commented on #51
Anyway, I've managed to reproduce the error, so I don't need them anymore. Thanks for the report!

[2017-12-21 15:44] marco-c opened #52 "Add test with branches enabled in intermediate gcov format"

[2017-12-21 21:55] marco-c commented on #51
I think there's an underlying issue with the mangling of the symbol. I can implement a workaround in grcov, but we should fix this in Rust.

[2017-12-21 22:20] #52 closed

[2017-12-22 01:43] lght commented on #51
Ok, is the fix in Rust something in how `cargo-cov` is mangling? Brand new to the tooling, but happy to help if I can.

[2017-12-23 15:28] #51 closed

[2017-12-23 15:29] marco-c commented on #51
Could you test again with current master?

[2017-12-23 15:55] marco-c opened #54 "Make LLVM C++ parser directly populate the Rust result struct instead of generating gcov files"
Right now, the Rust code is calling the C++ code to generate gcov files (in the intermediate format since ). Then, the Rust code parses the gcov files.

We should make this more intelligent, making the Rust code call the C++ code to parse the gcno file and the C++ code call back into Rust to populate the result struct while parsing.

Example of how to use a Rust object from C++: http://jakegouldin

[2017-12-23 17:35] marco-c opened #55 "Support new gcov intermediate format from GCC 8"
Changes in GCC 8:
https://github.com/gcc-mirror/gcc/commit/a82502ddf807cdd25fe04879390310727156ab42
https://github.com/gcc-mirror/gcc/commit/3cf7fddf54b5160e83236f1b9b3129e2a3a417c6

[2017-12-24 11:17] marco-c commented on #45
Some examples:
https://github.com/maidsafe/routing/blob/master/appveyor.yml
https://github.com/starkat99/appveyor-rust/blob/master/appveyor.yml
https://github.com/japaric/rust-everywhere/blob/master/appveyor.yml

[2017-12-24 22:12] lght commented on #51
Tested again with master, and your latest commit fixed the panic. Thank you much :)

[2018-01-05 10:51] marco-c opened #57 "Improve error handling"
Currently, we are panicking when a lcov/gcov file is malformed.
We should still terminate grcov, but we should print more information first (which file we are parsing when the error occurs and which line is causing the error).

The parser functions should not panic, they should return an error. The panic should happen in the caller.

[2018-01-05 16:59] #57 closed

[2018-01-07 01:09] #45 closed

[2018-01-07 14:43] marco-c opened #60 "Support Mac on CI"

[2018-01-07 17:00] #60 closed

[2018-01-07 17:57] marco-c opened #61 "Make musl build work again"
It doesn't work anymore since the introduction of the C++ code.

[2018-01-08 12:23] marco-c opened #62 "Add tests for the output functions"

[2018-01-08 12:25] marco-c opened #63 "Add tests for check_gcov_version"
The function to test is in src/gcov.rs.

[2018-01-08 14:20] sylvestre opened #64 "Automatically detect GCC version during tests"

[2018-01-08 14:24] marco-c commented on #64
You need to set the `COMPILER_VER` environment variable to your version of gcc.
I should add this to the docs (or detect it automatically).

[2018-01-08 14:26] sylvestre commented on #64
I think you can detect it without too many issues! :)

[2018-01-08 14:57] marco-c opened #66 "Add Appveyor badge to README.md"

[2018-01-08 15:11] marco-c opened #67 "Enable integration tests with LLVM on CI"

[2018-01-08 15:36] marco-c opened #68 "Specify that llvm development tools and headers are required to build"
cc @sylvestre

[2018-01-08 15:37] #64 closed

[2018-01-08 15:39] #66 closed

[2018-01-08 15:46] marco-c opened #70 "Figure out an alternative solution for installing LLVM on Travis"
apt.llvm.org is unavailable very frequently (see also https://github.com/travis-ci/apt-source-whitelist/issues/156).

[2018-01-08 21:17] #67 closed

[2018-01-09 18:23] marco-c opened #71 "Support input of gcna/gcda files from a mix of ZIP archives and directories"
At the moment, grcov supports reading gcno/gcda files from ZIP archives and directories, but it doesn't support reading gcno files from a ZIP archive and gcda files from a directory.

[2018-01-09 18:24] marco-c opened #72 "Support integration tests on Windows on CI"
At the moment, integration tests are disabled for Windows on CI.

[2018-01-09 18:24] marco-c opened #73 "Support LLVM integration tests on Mac on CI"
At the moment, only GCC integration tests are enabled for Mac on CI.
There are probably minor differences in the LLVM output on Mac, so we should have different reference outputs according to OS.

[2018-01-10 12:18] marco-c commented on #70
This was probably a temporary issue with networking on Travis: https://www.traviscistatus.com/incidents/lrc4yp46t8wb.

[2018-01-10 12:18] #70 closed

[2018-02-06 21:37] cpearce opened #74 "Intermittent thread '<unnamed>' panicked at 'gcov wasn't successfully executed on /tmp/grcov.o62FwPBSpb5p/media/gmp-clearkey/0.1/Unified_cpp_gmp-clearkey_0.10_1.gcno', src/main.rs:672:8"
One of the Mozilla sheriffs filed a bug in bugzilla.mozilla.org due to grcov crashing while running "Linux x64 CCov opt Mochitests with e10s test-linux64-ccov/opt-mochitest-media-e10s-1 M-e10s(mda1)", log:
https://treeherder.mozilla.org/logviewer.html#?job_id=158959011&repo=mozilla-central&lineNumber=22921

Excerpt:

[task 2018-01-28T20:57:58.951Z] 20:57:58     INFO - Reading from file tmpfile_std

[2018-02-06 21:47] marco-c commented on #74
Thanks for letting me know. It looks like `gcov` failed to run, it's the first time it happens.
I'll investigate.

[2018-02-20 22:59] marco-c opened #75 "Print errors to stderr"

[2018-02-26 16:15] marco-c opened #76 "Clean up path rewriting code"
It was rewritten several times to cope with new corner cases. Now that everything works, I think the code should be rewritten from scratch to make it cleaner and to make it clearer what the path-mapping, prefix and source-dir options do by untangling them.

[2018-02-26 16:25] marco-c commented on #76
- path mapping; if a mapping file is specified, rewrite paths in the coverage data using this mapping;
- source directory; if a source directory is specified, try to resolve symlinks;
- strip prefix; strip the prefix from the paths before attempting the symlink resolution and after applying the mapping and symlink resolution.

[2018-03-09 12:28] svensevenslow commented on #23
Hi! I'd like to work on this.

[2018-03-09 13:56] marco-c commented on #23
Hello @svensevenslow! The code that handles CLI options is here: https://github.com/marco-c/grcov/blob/master/src/main.rs#L46.

[2018-03-10 15:00] svensevenslow commented on #23
Hi! Which would you think would a better idea to implement it, making a yml file and doing something like load_yml!() in the main.rs file or adding something like this .arg(Arg::with_name(" ")) in the main.rs file

[2018-03-10 18:52] marco-c commented on #23
It would be nice to do it with YAML if feasible, otherwise the second option is fine too.

[2018-03-11 20:52] Saumya29 commented on #63
Hello. Can I work on this issue?

[2018-03-11 20:53] marco-c commented on #63
Sure! The function to test is in src/gcov.rs.

[2018-03-12 01:16] marco-c opened #77 "Support generating the diff between two reports"

[2018-03-12 07:58] vsham20 commented on #75
Hi @marco-c , I want to pick-up this issue, Can you please provide more details. Thanks

[2018-03-12 13:31] marco-c commented on #75
Currently we are printing errors to stdout (with println!), we should instead print them to stderr (with eprintln!).

[2018-03-12 15:21] vsham20 commented on #75
Great,and which version of Rust is used here?

[2018-03-12 15:24] marco-c commented on #75
The project should be buildable with the latest stable and nightly versions of Rust.

[2018-03-13 16:10] #75 closed

[2018-03-14 19:55] sravya5959 commented on #62
Hi. Can I work on this issue?

[2018-03-14 20:10] marco-c commented on #62
Sure! The output functions are in the src/output.rs file. The tests should be added in the tests module at the bottom.

[2018-03-15 03:07] Sush0512 commented on #39
Dear @marco-c ,
I would like to work on the issue. I understand the issue and have gone through the resources mentioned. In `README` it is mentioned that we can output the code coverage information in `lcov`.   Please, can you guide me through the necessary things to be done.

Thank you,
Sushma

[2018-03-15 10:32] marco-c commented on #39
Hello @Sush0512. The `output_lcov` function in src/output.rs needs to be modified to support outputting branch information too (the format is described in my earlier comment).

[2018-03-15 10:33] marco-c commented on #39
`output_coveralls` for example is outputting the branch information for the `coveralls` format.

[2018-03-15 13:34] Sush0512 commented on #39
Thank you for the information. I started working on the issue and want to clarify the following.

-  should the `block number` be 0 as in coveralls?
-  `branch hit count` is the number of times the `taken` value is non zero?

[2018-03-15 13:40] marco-c commented on #39
Yes.

Yes, if by "branch hit count" you mean the "BRH" value.

[2018-03-15 15:38] svensevenslow commented on #23
@marco-c Can you clarify what this line of code does https://github.com/marco-c/grcov/blob/master/src/main.rs#L179.

[2018-03-15 16:56] marco-c commented on #23
If you run `grcov` without options, you'll see:
[code]

That part of the code is what handles the "DIRECTORY_OR_ZIP_FILE[...]" parameters.

E.g. if you run `grcov DIR1 DIR2`, `paths` will be a vector containing `DIR1` and `DIR2`.

[2018-03-15 18:49] svensevenslow commented on #23
@marco-c I am having a bit of a problem. How to I get all the names of the directories and push it onto the paths vecotor. I tried using
[code]
I tries a few things but I'm running into errors while building
My YAML file has the following
[code]

[2018-03-15 19:12] marco-c commented on #23
@svensevenslow unfortunately I'm not familiar with the Clap library, the only thing I can suggest is to look at their documentation and examples.

[2018-03-15 21:40] #39 closed

[2018-03-15 21:41] #26 closed

[2018-03-16 04:19] DGRamya commented on #62
Hello, Is it possible for me to work on this issue now? I see that other person has already started working on this

[2018-03-16 10:19] marco-c commented on #62
Yes, the issues are unassigned until there is a PR for it.

[2018-03-19 12:48] svensevenslow commented on #23
@marco-c Hi! I have opened a PR (https://github.com/marco-c/grcov/pull/80). Some of the tests are failing while running `cargo test`. I am not sure why the tests are failing, could you help me out?

[2018-03-25 05:56] reCursedd commented on #63
Hello @marco-c , I hope I am not too late to contribute. Can you provide some pointers on how to write the tests?

[2018-03-25 17:14] Juniar-II commented on #55
Can you explain a little more about "GCOV support for an Intermediate format" and what this means?
How do you run this two codes gcc-mirror/gcc@a82502d, gcc-mirror/gcc@3cf7fdd?
And does these code require other dependencies files to execute?

[2018-03-25 18:13] Juniar-II commented on #76
Which files or directory should be rewritten, there are many files from the source code? Which mapping techniques or prefix should be used, can you give an example?

[2018-03-27 10:57] marco-c commented on #55
This is a good first bug, but it requires a bit of research first. Have you tried looking it up online? Do you know what GCOV is?

And does these code require other dependencies files to execute?

We don't have to run that, they are just patches showing what changed.

[2018-03-27 10:59] marco-c commented on #76
We don't have to rewrite the files and directories of this repo :smile:
We have to modify the path rewriting code in src/path_rewriting.rs to simplify it as I suggested in the first two comments.

[2018-03-29 10:37] sepicoder commented on #63
I would like to work on this :)

[2018-03-29 10:44] marco-c commented on #63
There's already a PR that is trying to fix this: #81.

[2018-03-29 10:52] sepicoder commented on #63
Hi,

Thanks for letting me know. Is there any other one for beginners that is
open and I can take care of?

Please let me know.

Thanks,
Sepideh

On Thu, Mar 29, 2018 at 3:44 AM, Marco <notifications@github.com> wrote:

--
*Sepideh Homami |* homami.sepideh@gmail.com | (818)430-4294
*Management Information Systems*

[2018-03-29 10:54] marco-c commented on #63
If you are interested in this repo in particular, there are several good first bugs marked with the "good-first-bug" label: https://github.com/marco-c/grcov/issues?q=is%3Aissue+is%3Aopen+label%3Agood-first-bug.

Some of them will require some time to get to know the gcov instrumentation.

[2018-03-29 10:57] sepicoder commented on #62
I would like to take a look at this and possibly help out.

[2018-03-29 10:58] marco-c commented on #62
Sure, go ahead!

[2018-04-07 18:00] marco-c opened #82 "Write benchmarks for the output module"
We should write benchmarks for the `output_*` functions in src/output.rs.

[2018-04-07 18:00] marco-c opened #83 "Investigate if serializing the JSON without Serde is faster"
The JSON we serialize is really simple (especially in the ActiveData case). We should investigate outputting a string directly rather than using Serde.

The first step is to write benchmarks, #82.

[2018-04-10 23:26] marco-c commented on #74
I think it's a version mismatch between the GCC used to compile and the gcov used to parse the gcda files.

[2018-04-10 23:26] #74 closed

[2018-04-14 15:29] marco-c opened #84 "Generate win32 build too"

[2018-04-14 15:45] marco-c commented on #55
@Juniar-II what you are describing is unrelated to this issue. This issue is just about adding support for parsing the new GCOV intermediate format.

[2018-04-17 12:35] marco-c opened #86 "Support excluding directories with wildcards"
For example, in Firefox code coverage builds we currently have a `vs2017_15.6.6` directory with header files from Visual Studio. We want to exclude them, but we don't want to update the exclusion directory every time we update the compiler version, so we'd like to exclude `vs2017_*`.

[2018-04-17 12:36] marco-c opened #87 "Support excluding more than one directory"
Right now, the `--ignore-dir` option only allows excluding a single directory.

[2018-04-17 16:35] #87 closed

[2018-04-17 18:11] #86 closed

[2018-04-18 07:37] marco-c opened #91 "Investigate ignoring directories in the parser directly"
Right now, they are ignored in the `rewrite_paths` step.
Ignoring them in the parser could have the following benefits:
1) reduced memory usage, as we will not be storing results for those paths at all;
2) improved parsing speed, as we will skip lines belonging to those paths;
3) improved performance for the results map, as it will be smaller and we will have less results to merge.

And the follow

[2018-04-19 00:10] marco-c opened #92 "Support parsing Jacoco artifacts"
An example artifact is at https://github.com/marco-c/grcov/blob/master/test/basic-jacoco.xml.

[2018-04-30 18:24] marco-c opened #93 "Use a faster hash function"
E.g. FxHashMap that is used internally in the Rust compiler

[2018-05-04 18:01] marco-c opened #94 "Support parsing coveralls files"

[2018-05-04 19:53] marco-c opened #95 "Add an option to ignore gcno files with no linked gcda file"
We are parsing all gcno files also when no linked gcda file is present because we also want to know about totally uncovered files.

For per-test coverage, we only want to know about covered files, so parsing orphan gcno files is just a waste of time.

[2018-05-05 09:11] marco-c opened #96 "Add an option to ignore completely uncovered files"

[2018-05-06 00:26] #96 closed

[2018-05-08 12:25] #95 closed

[2018-05-08 18:55] marco-c commented on #71
In mozilla-central test machines, we download a zip file containing gcno files from the build machine. So in the test machine we have a zip file containing gcno files and a directory containing gcda files. We are zipping the directory (without compression) just so we can run grcov without decompressing the gcno archive.
This is why I marked this as perf.

[2018-05-08 18:55] marco-c commented on #94
If we had this feature, we could use it in ActiveData and avoid parsing the coveralls files with Python (unless we decide to switch to another format for the per-test-coverage reports).

[2018-05-08 18:59] marco-c opened #99 "Pass gcno/gcda contents to the LLVM C++ parser directly, instead of letting it read files"
This way, when we parse ZIP archives, we don't need to create gcno/gcda files, but we can pass their contents directly to the LLVM C++ parser.

[2018-05-09 13:44] marco-c opened #100 "When parsing files, cleanup "." and ".." path components"
For some files (luckily rarely and only for header files), in the reports we have things like "third_party/aom/aom_util/./aom_thread.h".
We can't just cleanup the paths at the end, as they appear both in the "third_party/aom/aom_util/aom_thread.h" and "third_party/aom/aom_util/./aom_thread.h" version in the same report.
We can clean them up when merging the results: https://github.com/marco-c/grco

[2018-05-13 18:38] marco-c opened #101 "Write a benchmark for `is_covered`"

[2018-05-13 18:40] marco-c opened #102 "Add early return to `is_covered` when all lines are uncovered"
Right now we check both `any_line_covered` and `any_function_covered` at the end.
We could return true early if `any_line_covered` is false.

#101 is needed first, so we can measure the improvement.

[2018-05-15 13:37] #100 closed

[2018-05-17 19:29] rhcu opened #104 "Bench for parse_old_gcov fails as the function was deleted"
Hi,
Seems that you have deleted `parse_old_gcov` [in this commit](https://github.com/marco-c/grcov/commit/ea1d63e3e205a8c40b20572dcc98b2c152bfef1f) but it remained in benchmark test for parser.rs here: https://github.com/marco-c/grcov/blob/52de90b464c8c929cc5a256ea441ca8353135b0c/benches/parser.rs#L22 and prevents it from running

[2018-05-18 08:45] #104 closed

[2018-05-18 09:03] marco-c opened #106 "Windows build on Appveyor is failing"
It's trying to retrieve the redistributable DLLs from a path that doesn't exist anymore, probably as a result of a MSVC update.

[2018-05-18 10:09] #106 closed

[2018-05-18 13:21] marco-c opened #109 "Remove "line" from the activedata output format"
See https://github.com/klahnakoski/ActiveData-ETL/issues/16.

[2018-05-18 23:42] marco-c commented on #54
Maybe this will fix https://bugzilla.mozilla.org/show_bug.cgi?id=1462318.

[2018-05-24 20:12] #99 closed

[2018-05-24 21:14] #109 closed

[2018-05-25 08:06] marco-c opened #116 "Add integration test with a gcno zip and a gcda zip"

[2018-05-25 08:06] marco-c opened #117 "Add integration test with a gcno zip and a gcda zip containing gcno files with no linked gcda files"

[2018-05-25 08:07] marco-c opened #118 "Add integration test with a directory containing gcno and gcda files"

[2018-05-25 08:07] marco-c opened #119 "dd integration test with a directory containing gcno and gcda files containing some gcno files with no linked gcda file"

[2018-05-25 08:30] #63 closed

[2018-05-25 08:31] #73 closed

[2018-05-25 08:34] marco-c commented on #84
Requires https://github.com/appveyor/ci/issues/2258.

[2018-05-25 16:30] svensevenslow commented on #116
Hi! I'd like to work on this. Could you please elaborate a bit on what is to be done. The test needs to be written in https://github.com/marco-c/grcov/blob/master/src/producer.rs ?

[2018-05-25 17:50] marco-c commented on #116
We need to modify https://github.com/marco-c/grcov/blob/master/tests/test.rs to also test the case where we give grcov as input the ZIP files instead of a directory.

[2018-05-25 17:52] marco-c commented on #116
So you can add a new test that does something like this:
[code]

with the tests/basic/ test, and modifying run_grcov to choose if it has to run grcov on the directory or after zipping the files in the directory.

[2018-05-25 22:37] #54 closed

[2018-05-27 16:12] calixteman commented on #116
I'm taking this bug since we need to have quickly some tests to be able to release a new version.

[2018-05-28 14:48] #116 closed

[2018-05-28 14:48] #117 closed

[2018-05-28 14:48] marco-c opened #123 "Make the basic_zip integration test also test gcc"

[2018-05-28 15:19] marco-c opened #124 "Enable GCC tests on Mac in CI"

[2018-05-28 16:07] #124 closed

[2018-05-28 16:31] calixteman opened #127 "Add clippy in CI"

[2018-05-31 14:20] #101 closed

[2018-06-04 15:26] #123 closed

[2018-06-07 20:29] marco-c commented on #72
https://github.com/marco-c/grcov/pull/130 is enabling some integration tests.

[2018-06-19 17:44] gabriel-v commented on #92
Is [xml-rs](https://github.com/netvl/xml-rs) okay to use? It's the most popular one.

Your hints were:
- make [dir_producer](https://github.com/marco-c/grcov/blob/1311c289426a547c4c529809341ab5d7af2cfd7e/src/producer.rs#L12) find .xml files
- implement parsing those jacoco xml files, start from [parse_gcov](https://github.com/marco-c/grcov/blob/a06e7294b9e1e1cbb1c70f0a58bfb3012f2c6e2d/src/parser.r

[2018-06-19 18:12] marco-c commented on #92
`xml-rs` sounds good!

Both dir_producer and zip_producer (after #129 there should be a single one). Look at the `info` case, as that's the most similar one (for gcno/gcda we have couples of files, for info we have all the data in single files).

Yep, you can either look at parse_lcov or parse_gcov, they are the most simple formats.

You can actually already start, the changes to `producer` will r

[2018-06-20 16:47] marco-c opened #133 "Collect code coverage for grcov"
- [x] Linux
- [x] Mac
- [x] Windows

[2018-06-21 09:30] marco-c opened #134 "Add support for parsing instrprof reports"
https://clang.llvm.org/docs/SourceBasedCodeCoverage.html

[2018-06-21 21:48] marco-c opened #135 "Switch to Taskcluster"
Instead of using Travis and AppVeyor, we could use Taskcluster.
The first we should switch is AppVeyor, so that we can finally run integration tests on Windows and can finally automatically build the x86 build that we have to use in mozilla-central automation.

Here's an example of a .taskcluster.yml which also includes Windows: https://github.com/taskcluster/generic-worker/blob/master/.taskcluste

[2018-06-26 10:07] #71 closed

[2018-06-26 10:07] marco-c commented on #71
https://github.com/mozilla/grcov/commit/f20cd10704ca61f6d4c3058e7a4bb098aee44042

[2018-06-26 16:50] marco-c commented on #135
We should have two stages here, one to build LLVM and one to build grcov (a bit like toolchain builds and Firefox builds on mozilla-central), as we don't want to rebuild LLVM for every commit.

[2018-06-27 13:00] #25 closed

[2018-06-27 13:03] marco-c opened #138 "Remove FilePath enum from src/producer.rs"
See https://github.com/mozilla/grcov/pull/137/files#r198485862.

[2018-06-27 13:52] #92 closed

[2018-06-27 14:07] marco-c opened #139 "Actually "produce" and "consume" JaCoCo reports"
We have support for parsing JaCoCo coverage reports now, but we are not retrieving them from ZIP files/directories to actually parse them.

[2018-06-29 10:27] marco-c opened #144 "Add test for producer with a directory containing gcno files and a directory containing gcda files"

[2018-06-29 10:47] gabriel-v opened #145 "Add integration test for JaCoCo XML reports"

[2018-06-29 10:48] #139 closed

[2018-07-02 10:50] gabriel-v opened #148 "Option to prepend a path prefix"
A command line argument to prepend a prefix to all file paths.

This is useful for getting the full relative paths of the source files referenced in the JaCoCo XML reports.

The JaCoCo XML reports only store the java package information, like `org/mozilla/gecko/browserid/DSACryptoImplementation.java`, but full paths are required: `mobile/android/app/src/test/java/org/mozilla/gecko/browserid/DSACry

[2018-07-02 12:31] marco-c commented on #148
`--add-prefix` sounds fine!

[2018-07-02 14:05] #148 closed

[2018-07-05 14:24] marco-c opened #153 "Build integration tests with "-fno-exceptions""
The coverage results are cleaner if we disable exceptions, so maybe we should do that for tests.

This will require updating the expected files.

[2018-07-06 13:09] marco-c commented on #84
We don't care about this anymore: https://bugzilla.mozilla.org/show_bug.cgi?id=1473610.

[2018-07-06 13:09] #84 closed

[2018-07-09 09:43] marco-c opened #155 "Support paths to files too"
E.g. something like `grcov path/to/file.gcda` or `grcov path/to/file.info` should work.

[2018-07-11 17:08] marco-c opened #156 "Travis builds broken because of bad formatting"
Something has changed in the dependencies (maybe a new version of rustfmt? Or a new Rust version?), which broke the build: https://travis-ci.org/mozilla/grcov/jobs/402754467

[2018-07-11 17:45] gabriel-v commented on #156
That looks like it's going to keep happening, since the code formatting RFC is ongoing.

Do we just `cargo fmt` again and push to master?

Could we pin the rustfmt-preview component version and update it manually from time to time?

Maybe the code formatting would be better off as a separate check that only runs for PRs?

[2018-07-11 17:51] marco-c commented on #156
In the ideal world, I'd prefer the PRs not to contain formatting changes (as I want to see only the logic changes). E.g. often, when the PR removes an if, it will also have to contain a lot of formatting changes just because of the linter.
It would be great if the PRs would pass no matter if the formatting is OK, but then the formatting would be applied automatically after the PR is merged.

Not s

[2018-07-12 13:38] gabriel-v commented on #156
So that means we should remove the checks from the `script` phase, and run `cargo fmt` in the `deploy` phase. We would need a GitHub bot account to push the formatting commit (if one is needed). Do we have one available?

Travis can deploy to GitHub Pages and GitHub Releases, but I see no generic flow of pushing back to GitHub repositories. There's also [this guilde here](https://gist.github.com/w

[2018-07-12 13:46] marco-c commented on #156
Another option would be to run the formatting only in Travis builds triggered by cron. This way we avoid the problem of a formatting commit triggering another build.
We could also create a PR instead of pushing directly to master, just to make sure someone looks over the changes.

I have a GitHub test account that I used for another project, but maybe it's better to just create a new separate one.

[2018-07-12 14:00] marco-c commented on #156
Thinking about this more... Maybe we should run it for every PR and pin the version of rustfmt, otherwise we'll get a very polluted history.

[2018-07-12 14:37] #102 closed

[2018-07-12 16:44] gabriel-v commented on #156
Don't see a way to install a specific version with `rustup component add`. We could build `rustfmt` from source, checking out a specific revision, but that will mean more build failures (as both `rustc +nightly` and `rustfmt` are moving targets).

[2018-07-12 17:18] marco-c commented on #156
Great... Running it only on PRs without pinning has the big downside that people will get failures which can be totally unrelated from their patch.
Maybe we should disable the check for now and reenable it when things are more stable?

[2018-07-12 19:32] marco-c commented on #156
We could install rustfmt-nightly using Cargo, this way we should be able to pin the version.

[2018-07-13 18:10] gabriel-v commented on #156
I tried installing a few tagged versions of the library; for all those versions the build failed for some dependency. These `rust-lang-nursery` crates tend to depend on a lot of other `rust-lang-nursery` crates, so when you try to fix a version while still using the nightly compiler, __*boom*__

I say we take this out until they complete the RFC process.

[2018-07-13 18:42] #156 closed

[2018-07-16 15:37] gabriel-v commented on #127
Here's what today's clippy outputs with default settings:

[code]

This issue depends on these cleanup tasks:

- https://github.com/mozilla/grcov/issues/23 (to reduce main's complexity)
- https://github.com/mozilla/grcov/issues/76 (then add type definitions for those hashmaps)

[2018-08-05 11:43] marco-c opened #160 "Stop using unstable alloc_system feature and use global_allocator"
https://blog.rust-lang.org/2018/08/02/Rust-1.28.html

[2018-08-08 21:24] choller opened #161 "Coverage length mismatch when file ends in non-coverable lines"
I had the situation the other day, that I had a gcc and a clang report for the same file. According to gcc, the last line in the file is coverable, according to clang, it is not coverable. These differences are known and we are working on reducing them.

However, what I noticed here as well is that the length of the coverage array reported here is not the same in both reports. For GCC, the length

[2018-08-29 14:20] gabriel-v opened #162 "Add option to rewrite partial paths into complete paths relative to source directory"
When collecting Java code coverage, we get filenames that are relative to the Java package root, not the source directory. This means we need functionality for the following:

On startup, if the argument `--rewrite-partial-relative-paths` has been passed, then:
- walk the source directory and record all file paths found
- note the longest path (in number of segments), let this be `N`
- initialize

[2018-09-02 16:23] sylvestre opened #163 "Please publish grcov on crates.io"

[2018-09-21 08:48] marco-c opened #165 "Mac build is broken on Travis"

[2018-09-26 08:43] marco-c opened #166 "Update to LLVM 7"
We need to update to LLVM 7 in order to pick up recent improvements by @calixteman. Updating should also mean removing our custom C++ source files (because of https://reviews.llvm.org/D41802).

[2018-09-26 08:58] marco-c opened #168 "Add a Travis build using nightly LLVM"
This way we can notice regressions with newer LLVM versions.

[2018-09-26 15:45] marco-c commented on #135
Actually, we don't strictly need to build LLVM, we could just use the one built in mozilla-central.

[2018-09-26 23:19] marco-c commented on #61
We don't need this build anymore. I'd happily take a patch if somebody needs it though.

[2018-09-26 23:19] #61 closed

[2018-09-27 00:35] #165 closed

[2018-09-27 07:49] marxin commented on #55
For GCC 9.1 I'm planning to come up with JSON format of the intermediate format.
Maybe you'll be interested more in the format:
https://gcc.gnu.org/ml/gcc-patches/2018-09/msg01628.html

[2018-09-27 08:56] calixteman opened #170 "grcov is "broken" when used on mozilla-central"
~/dev/mozilla/mozilla-central.hg$ grcov obj-x86_64-pc-linux-gnu/ -t lcov --llvm

It fails with:
Error parsing file obj-x86_64-pc-linux-gnu/:
Record containing invalid integer: '9:1 Unexpected characters outside the root element: %'

It's working when removing xml stuff from producer.rs.
So here a xml file is got and considered as a Jacoco report: it shouldn't be.
And second, the error message must

[2018-09-27 09:02] calixteman commented on #170
Maybe we could add the xml file in producer only when first 256 bytes contains "JACOCO"

[2018-09-27 09:03] marco-c commented on #170
We could have the same problem with `info` files, if somebody creates one.

[2018-09-27 09:04] calixteman commented on #170
yep, so we need to detect that soonly.

[2018-09-27 09:08] #166 closed

[2018-09-27 09:18] gabriel-v commented on #170
The nice way to do this would be to check the DOCTYPE and DTD, but that's not supported: https://github.com/netvl/xml-rs/issues/170

This looks like the way to do it for now.

[2018-09-27 11:37] #168 closed

[2018-10-02 20:52] marco-c commented on #55
Sounds great to me! Much less chance of breakages.

Looks like we were the only ones using the GCC intermediate format :smile:

[2018-10-02 20:53] marco-c commented on #55
Will one JSON per source file be generated, or one JSON per compilation unit? The second is the current behavior of the intermediate format, and would be better for us.

[2018-10-03 10:14] marxin commented on #55
Yes, it's more standard format than a custom one.

Looks so, lcov is missing the capability:
https://github.com/linux-test-project/lcov/issues/43

Similarly for gcovr:
https://github.com/gcovr/gcovr/issues/282

[2018-10-03 10:16] marxin commented on #55
Same as for current -i option: one intermediate file per compilation unit.
I'm also planning to make the JSON files gzipped as they can be quite big.
File example for tramp3d:
https://users.suse.com/~mliska/tmp/tramp.json

[2018-10-03 11:40] marco-c commented on #162
Another possibility is to see the source files as a tree, reversed (the top of the tree being the files, the bottom of the tree being the root directory).

We can use a trie (https://crates.io/crates/tst) to make it quite simple:
[code]

[2018-10-03 16:12] calixteman opened #176 "Make only one build on linux for last clang release"
Now we're compiling grcov with clang-7.
So we should have only one container for it and apt-get the different gcc versions and run tests for each of them.

[2018-10-03 16:17] calixteman opened #177 "Strange paths in rewrite_paths with ccov for grcov"
When printing the paths we've in rewrite_paths, some of them are strange;
<__thread_local_inner macros>
<__lazy_static_internal macros>
<forward_to_deserialize_any_method macros>

So we need to investigate if it's an issue in grcov or in rustc.

[2018-10-03 16:19] calixteman opened #178 "Add an option to keep files which are only in a dir"
We could implement options filter=regex and exclude=regex, to be able to keep the files we want.

[2018-10-03 17:06] calixteman commented on #177
It seems to be a rustc issue, I filed a bug:
https://github.com/rust-lang/rust/issues/54791

[2018-10-04 08:40] marco-c commented on #178
The `exclude` is already implemented.

[2018-10-04 08:46] calixteman commented on #178
yes it is

[2018-10-04 18:08] marco-c commented on #133
First step (Linux and Mac) with #179. Now only Windows is missing.

[2018-10-04 18:10] marco-c opened #180 "Run tests before publishing releases too"
Right now, we're not running tests for builds triggered by a tag.

[2018-10-05 05:18] akansha2608 commented on #138
Hi @marco-c i would like to work on it , can you help me how to getting started?

Thanks

[2018-10-05 09:13] #180 closed

[2018-10-05 09:39] marco-c commented on #138
Hey @akansha2608, after you've cloned the repository, make sure you can build the project and successfully run the tests. Once that is done, you can start with this (look at https://github.com/mozilla/grcov/pull/137/files#r198485862 for more details on how to fix it).

[2018-10-05 10:04] marco-c commented on #163
Done: https://crates.io/crates/grcov.

[2018-10-05 11:20] marco-c opened #187 "Update zip dependency to 0.4"
We're currently at 0.2. Updating to 0.4 breaks the build.

[2018-10-05 13:57] #163 closed

[2018-10-05 14:28] #187 closed

[2018-10-05 14:33] #68 closed

[2018-10-05 18:37] calixteman opened #190 "ignore-dirs is not working with rust paths under windows"
When making cov for grcov itself some paths relative to rust std libraries are in gcno with unix format.
And no way with ignore-dirs to remove them:
neither --ignore-dirs libcore/* nor --ignore-dirs libcore\* is working.

[2018-10-08 10:58] marco-c opened #193 "Rename ignore-dir option"
Since it's actually a glob.

[2018-10-08 12:48] marco-c commented on #76
#192 removed some now unused options, #194 is doing the additional cleanup.

[2018-10-08 12:49] marco-c commented on #190
We should add some tests for ignore-dir option, we have none

[2018-10-08 14:05] marco-c opened #195 "Use if-let chains when available to clean up some code"
https://github.com/rust-lang/rust/issues/53667

[2018-10-08 15:19] #76 closed

[2018-10-09 16:15] #162 closed

[2018-10-09 16:16] marco-c opened #199 "Add more tests for mapping partial paths"
See https://github.com/mozilla/grcov/pull/196#discussion_r223768865.

[2018-10-09 18:23] #133 closed

[2018-10-09 18:41] #160 closed

[2018-10-10 10:08] marco-c opened #203 "Implement an option to upload coverage data to codecov and coveralls"
We basically need to rewrite https://github.com/mozilla/release-services/blob/eaeae5e854935dc7bce3bdcc181673f480d864a2/src/codecoverage/bot/code_coverage_bot/uploader.py in Rust.

[2018-10-10 10:28] marco-c opened #205 "Make source_dir CWD by default"

[2018-10-10 11:31] calixteman opened #207 "Don't run travis CI when modifying appveyor.yml"
https://github.com/facebook/react/pull/2000/files

[2018-10-10 11:32] marco-c commented on #207
And likewise, don't run Appveyor build when modifying .travis.yml.

[2018-10-10 11:32] calixteman opened #208 "Add -o option to set the output file"
and -o - to output on stdout

[2018-10-10 15:15] marco-c opened #209 "Don't replace newlines in coverage report on appveyor"
It's probably unnecessary, we should check if it actually is unnecessary: https://github.com/mozilla/grcov/blob/32c277af9559203f0af4d6aaa71d5ad496851dab/appveyor.yml#L66

[2018-10-16 17:19] marco-c opened #210 "Running grcov with a Firefox source directory containing a build directory fails"
grcov ~/src/firefox/obj/ff-asan-release/ -s ~/src/firefox -t coveralls --token 1111111 --commit-sha 20181015165802
thread 'main' panicked at 'Only one file in the repository should end with storage/Variant_inl.h (storage/Variant_inl.h and obj-x86_64-pc-linux-gnu/dist/include/mozilla/storage/Variant_inl.h both end with that)', src/path_rewriting.rs:143:13

I think the solution to this is skipping s

[2018-10-16 17:35] calixteman commented on #210
in this particular case, I think we should exclude obj-*** directory from the mapping because finally it's the build directory.
And what will we do if instead of having a symlink we have copied file ?

[2018-10-16 18:23] #210 closed

[2018-10-16 18:26] marco-c opened #213 "Build with LLVM 8 is failing"

[2018-10-21 12:52] mrbuzz commented on #205
Hi! I'd like to work on this.
Would changing `grcov/src/main.rs:52`
from
`let mut source_dir = "";`
to
`let mut source_dir = std::env::current_dir()?;`
be a good starting point?

[2018-10-21 16:02] marco-c commented on #205
Hey @mrbuzz, yes that should work! Once you've done that, you could also update .travis.yml and appveyor.yml to stop using the "-s ." parameter.

[2018-10-24 15:48] marco-c opened #214 "Either support inputting plain files or assert when an input is not a directory and not a zip"

[2018-10-24 15:52] calixteman commented on #214
I think we should support plain file, since it's pretty painful to create a dir/zip...

[2018-10-24 17:04] marco-c opened #215 "If a thread fails, the error code should not be 0"
[code]

[2018-10-24 17:05] marco-c opened #216 "Assign names to threads"
We should assign names to threads when we create them, to make debugging easier when there is a problem.

[2018-10-25 01:33] LucianaMarques commented on #216
Hi Marco! I'd like to give this a try!

What I was thinking was to change the main.rs file in the part that it has a loop to create threads (around line 280), and add a thread name with the Builder type mentioned in: https://doc.rust-lang.org/std/thread/

I didn't read the whole file yet, but I would start from there. Does this makes sense?

[2018-10-25 05:07] sahitpj commented on #207
May I work on this issue, if not assigned?

[2018-10-25 06:30] calixteman commented on #216
@LucianaMarques yep it makes sense
@marco-c why having a name will help here ?

[2018-10-25 19:12] LucianaMarques commented on #216
I just opened a pull request on this.

[2018-10-26 16:11] marco-c commented on #207
Fixed by #218.

[2018-10-26 18:07] marco-c commented on #207
Reopening because #218 has been reverted.

[2018-10-29 12:02] marxin commented on #55
Note that the format change has landed into GCC's trunk and will be part of next release (9.1).

[2018-10-30 12:01] LucianaMarques commented on #215
Hey @marco-c , can I give a help with this? Is someone already working on this?

[2018-10-30 12:02] marco-c commented on #215
There's already a PR to fix this: https://github.com/mozilla/grcov/pull/222.

[2018-10-30 12:38] #215 closed

[2018-10-30 13:41] #216 closed

[2018-10-30 18:49] calixteman opened #224 "Rewrite globs on Windows"
--ignore-dir option uses globs like foo/bar/* but under windows it could be foo\bar\*.
Since we replace "\" by "/", we should do the same for globs before to add them in the GlobSetBuilder.

[2018-10-30 19:24] marco-c opened #225 "Stop sorting entries for GlobSet"
When https://github.com/BurntSushi/ripgrep/issues/1079 is fixed, we can stop doing:
https://github.com/mozilla/grcov/blob/131f66fd692c3d9ea0d7ee03baf699e0c899abb0/src/path_rewriting.rs#L183

[2018-10-30 21:00] marco-c opened #226 "Prettify all JSON expected files under tests/"
Instead of https://github.com/mozilla/grcov/blob/aee0b46ebcf4e4f37482b4e3d6acb8cf832c63fa/tests/include2/expected_llvm_7_linux.coveralls, they should all be like https://github.com/mozilla/grcov/blob/71c71beebee5ad62329aaea2d2df88de366bbe5d/tests/basic/expected_llvm.coveralls.

[2018-10-30 21:38] marco-c commented on #214
Fixed by #219.

[2018-10-30 21:38] #214 closed

[2018-11-04 11:07] arshadkazmi42 commented on #226
@marco-c Is it up for grab? I can take this up

[2018-11-04 20:10] marco-c commented on #226
@harshagarwal7272 started on this in #228, but I'm not sure if they intend on continuing the work. @harshagarwal7272 do you want to keep working on this?

[2018-11-06 00:41] tristan957 opened #229 "cargo install failed"
I tried to install grcov through cargo and received the following error:

[code]

[2018-11-06 00:44] marco-c commented on #229
You'll need either LLVM 7 or LLVM 8 in order to build, it looks like you're using a version < 7.

[2018-11-06 08:08] calixteman commented on #229
After having setup llvm 7, you can use "LLVM_CONFIG=llvm-config-7 cargo build" (if you've other llvm versions).

[2018-11-14 17:56] #213 closed

[2018-11-19 04:44] rei2hu commented on #207
I looked at the revert reason. Is there a specific set of files where Travis should run but it doesn't? At a glance, it looks like this would only happen if each file changed contained `appveyor.yml` in its name.

[2018-11-19 09:21] marco-c commented on #207
I don't remember exactly when they were skipped, but IIRC they were skipped for any change. You can test by submitting a test PR applying the reverted patch and modifying some random files.

[2018-11-21 17:13] LucianaMarques commented on #229
Does this still need a fix? I'd like to give it a try!

[2018-11-21 17:16] LucianaMarques commented on #209
Hi @marco-c , I'd like to give it a try. Has anyone already been assigned to this? Thank you

[2018-11-22 07:46] tristan957 commented on #229
If and when the docs get updated feel free to close this

[2018-11-22 09:20] marco-c commented on #229
Yes, we need to update the README.

[2018-11-22 17:31] LucianaMarques commented on #229
Ok, can I submit a PR?

[2018-11-22 17:32] calixteman commented on #229
sure, every PR is welcome

[2018-11-22 17:33] LucianaMarques commented on #229
I had a similar problem when building for my previous PR, I had to write this command every time.

[2018-11-22 17:34] calixteman commented on #229
you could add export LLVM_CONFIG=llvm-config-7 in your .bashrc (if you're under linux)

[2018-11-22 17:38] LucianaMarques commented on #229
Thanks, I'll submit one later today.

What I understood on this issue is that I had llvm 6 and this project required llvm 7. Eventhough I did install llvm 7, my computer insists on using llvm 6. Does adding "export" solve this issue of having to configure it every time I need to build the project? (I can't test it right now)

[2018-11-22 23:46] marco-c commented on #209
Hey @LucianaMarques, sure, it's still available! If you don't see anyone assigned on the GitHub interface on the right, or if you don't see a PR open for an issue, you can assume that it is not assigned.

[2018-12-07 19:08] marco-c opened #232 "When gcov fails, output its stdout and stderr"

[2018-12-11 23:41] marco-c opened #234 "Evaluate using hashbrown crate"
https://github.com/Amanieu/hashbrown

[2018-12-11 23:43] marco-c opened #235 "Evaluate using FxHashMap instead of HashMap"
We don't need a cryptographically secure implementation.

[2018-12-13 03:32] jarkyll commented on #235
@marco-c Is this bug up for grabs?

[2018-12-13 10:24] marco-c commented on #235
Yes, any bug which is still open and has no PR associated to it is up for grabs!

[2018-12-29 12:46] sylvestre commented on #229
@LucianaMarques Are you going to propose a PR? thanks :)

[2018-12-29 20:13] LucianaMarques commented on #229
@sylvestre yes I will! I apologise for the delay, I already started it but didn't submit because I have been busy with school. I'll do it ASAP!

[2018-12-29 22:09] LucianaMarques commented on #234
Hi @marco-c, could you provide a better description about this issue? Are we supposed to implement this tool in the project?

It sounds interesting but I don't know from where to start.

[2019-01-02 09:36] marco-c commented on #234
@LucianaMarques the goal would be to replace the btree map / hash map usage in src/lib.rs with usage of the hashbrown crate.

[2019-01-02 10:00] marco-c commented on #208
@LucianaMarques there's no one assigned to this issue and no PR open for this issue, so it's available for anyone to pick up.

[2019-01-02 16:51] LucianaMarques commented on #234
Ok, thank you, I'm working on this.

[2019-01-09 16:35] #232 closed

[2019-01-09 16:35] marco-c opened #239 "Add an option to map partial paths and make it false by default"
Right now we always map them and fail when there are two which have the same suffix. This can be frustrating for users and is usually not needed.

[2019-01-09 17:06] marco-c commented on #239
https://github.com/mozilla/grcov/blob/5d6715d3779ec43a21f1568fc945c31684b2831f/src/path_rewriting.rs#L127

[2019-01-18 11:17] marco-c opened #244 "No need to export CXXFLAGS and LDFLAGS anymore"
Given that we're not building C++ anymore since #230.

[2019-01-22 09:38] sylvestre opened #245 "Better management of incorrect arguments"
[code]
We could have something like:
[code]

[2019-01-22 09:38] sylvestre commented on #245
(could be a good first bug)

[2019-01-22 09:39] sylvestre opened #246 "--help should show the list of option"
Currently:
[code]
grcov without arguments is returning it

[2019-01-22 09:45] marco-c commented on #245
This would be fixed by #23.

[2019-01-22 09:46] marco-c commented on #246
This would be fixed by fixing #23.

[2019-01-28 18:05] LucianaMarques opened #247 "Missing lifetime specifier in src/reader.rs"
Hi there,

I'm working on another issue and I'm trying to merge the updates from the upstream repo with my origin repo.

I builded the project with "cargo build" but this message keeps appearing on the terminal (I use Ubuntu 18):

Is this suppose to happen or am I doing it wrong?

I checked and the file on my computer is the same as on the original github repo.

Thanks!

[2019-01-28 18:10] calixteman commented on #247
What's your rust version ?
It works for me with stable (1.32.0) and nightly (1.34.0).

[2019-01-28 18:13] calixteman commented on #247
Tell me if it's better with this patch:
[code]

[2019-01-28 18:14] marco-c commented on #247
This would likely be fixed if you update Rust to the latest version.

[2019-01-28 19:13] LucianaMarques commented on #247
Hi there,

It worked. I just have a few comments:

For some reason I didn't have rustup but had a previous Rust installation. I only use Rust for this tool, so this may be because I didn't do the installation properly (I don't remember what I did on installation matters, this was some months ago, but I remember having the build working fine in October 2018). I then got stuck on [this bug](https://

[2019-01-28 19:20] marco-c commented on #247
It's clear that the project is using Rust, so I think it's unneeded to explain in our README how to install it (contributors can search for themselves).

Glad the error is gone after the update!

[2019-01-28 19:20] #247 closed

[2019-01-28 19:35] marco-c commented on #23
@LucianaMarques yes! If there is no PR open, then you can assume the issue is free to work on.

[2019-01-31 22:03] LucianaMarques commented on #23
@marco-c is this still the correct?

[2019-01-31 22:14] LucianaMarques commented on #23
Also, how can I possibly test this?

[2019-01-31 23:48] marco-c commented on #23
Yes, if you open that link you'll see that it's still the code to handle CLI options.

This is a refactoring, so any option that works now should work in the same way after the change. You can test by running grcov and making sure that all options work as they worked before your changes.

[2019-01-31 23:49] marco-c commented on #23
https://github.com/mozilla/grcov/pull/80 was a PR which was started to fix this, but it was since abandoned.

[2019-02-01 00:09] dalibor-matura opened #249 "Documentation improvement"
The Readme contains just a minimal usage information and almost no examples.

I would like to get my standard Rust `lib.rs` project connected with CodeCov (https://codecov.io/), so I would like to gather the Test Coverage data with `grcov` and send it to CodeCov.

The only information provided on this topic in Readme is:

and I don't know what the directories should I used in my case instead of th

[2019-02-01 00:11] dalibor-matura commented on #249
Here's a related Rust Users forum topic I've just created: https://users.rust-lang.org/t/test-coverage-with-grcov/24851

[2019-02-04 10:11] marco-c commented on #249
Thanks @dalibor-matura!

You can use the Travis or Appveyor config as examples (since we are collecting coverage for grcov itself).

[2019-02-04 15:44] marco-c commented on #249
@calixteman improved the docs a little by adding an example of how to use grcov on Travis with #250.

[2019-02-04 15:44] #246 closed

[2019-02-04 15:45] #245 closed

[2019-02-04 19:31] lawrencek0 commented on #235
I'd like to work on this issue

[2019-02-04 19:35] marco-c commented on #235
@lawrencek0 sure, feel free to work on it!

[2019-02-07 14:14] marco-c opened #253 "Support coverage format used by FuzzManager"
The server-side structure can be described by the following recursive definition:

pathObject
- int: linesTotal
- int: linesCovered
- int: linesMissed
- float: coveragePercent
- dict(name -> pathObject): children iff pathObject is a directory
- list(int): coverage iff pathObject is a file
- string: name

The coverage property is a list where each index represents the respective line in the file, s

[2019-02-07 14:34] marco-c commented on #253
And here is the source code of the FuzzManager transformation from the coveralls format to their format: https://github.com/MozillaSecurity/FuzzManager/blob/949fdde3fd5c4f1427d3de0e7cbb423d04601654/CovReporter/CovReporter.py#L132.

[2019-02-17 10:12] marco-c commented on #225
We can now do this, as https://github.com/BurntSushi/ripgrep/issues/1079 was fixed.

[2019-02-18 01:37] moz-hwine opened #256 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/grcov/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-02-18 01:58] dalibor-matura commented on #249
Thanks for the info @marco-c and thanks to @calixteman for the documentation improvement: https://github.com/mozilla/grcov#grcov-with-travis

I already tried it a few days ago, but got into problems with the coverage itself: https://users.rust-lang.org/t/test-coverage-with-grcov/24851/8?u=dalibor, so I'm still using the `cargo-tarpaulin`.

[2019-02-18 10:14] marco-c commented on #256
It looks like the option is already enabled.

[2019-02-18 10:14] #256 closed

[2019-02-19 09:50] #208 closed

[2019-02-19 09:54] marco-c opened #257 "Use -o flag in Travis and Appveyor scripts"
It was introduced with #255, we can now use it ourselves instead of redirecting the output.

[2019-02-19 10:19] calixteman opened #258 "Create a Docker image to run tests (especially integration ones)"

[2019-02-19 11:08] marco-c commented on #258
Good idea!

[2019-02-19 14:38] calixteman commented on #249
If you want to remove yellow lines, you can remove --branch option from grcov.
Here are few explanations on how ccov is working with -Zprofile option:
i) rust transforms files into LLVM IR and LLVM transforsm this IR in executable code
ii) when adding -Zprofile, the IR is instrumented on the LLVM side to add some counters on entry blocks and on branches between blocks (some gcno files are generate

[2019-02-19 15:16] marco-c opened #259 "Integration tests failing with Clang 9"
https://travis-ci.org/mozilla/grcov/jobs/495503116

We should probably also add a Travis config with Clang 8 (at the moment we have 7 and 9).

[2019-02-21 19:38] adrian17 opened #260 "Confusing results with the current version"
I made a basic Rust repo and used a Travis config identical to the one in README.md.

The results for several versions of the file were:
https://codecov.io/gh/adrian17/grcov_test/src/7fa30e1d4ef0b5a126b26c151d0ee1c5ffeed876/src/lib.rs
https://codecov.io/gh/adrian17/grcov_test/src/db692c67e80c869aaee0fb75ea946b5db0d1545e/src/lib.rs
https://codecov.io/gh/adrian17/grcov_test/src/7357431d26b17ed101c35

[2019-02-21 19:43] adrian17 opened #261 "Support excluding some lines, functions, macros, branches from coverage report"
This is a feature request.
lcov has special markers that can be used to exclude parts of code from coverage report. For example, LCOV_EXCL_LINE, LCOV_EXCL_BR_LINE and their START/STOP multiline variants.

It would be nice to have something like this here too.

For example, macros sometimes generate always-true branches that grcov will report as partially-covered. In this case, it would be nice to

[2019-03-04 17:29] calixteman commented on #260
@adrian17, see my answer here: https://github.com/mozilla/grcov/issues/249#issuecomment-465154051
Instrumentation is made on LLVM side which use some information gave by the frontend (rustc here).
So I'd say here, that the things you're observing here are related to incorrect information we've in gcno files.
The best way to try to "debug" that stuff is to analyze the generated lcov.info file, see

[2019-03-04 18:12] calixteman opened #262 "Wrong coverage when multiple same file names"
To reproduce:
 - git clone https://github.com/adrian17/grcov_test
 - CARGO_INCREMENTAL=0 RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zno-landing-pads" cargo test
 - grcov target -s src/ -t lcov --llvm --branch --ignore-not-existing --ignore-dir "/*"  > lcov.info
 - lcov.info contains:
   DA:333,1
   DA:334,1
   DA:337,0
   DA:339,0
   DA:341,

[2019-03-04 18:13] calixteman commented on #260
In analyzing your data, I finally managed to find out a bug in grcov:
https://github.com/mozilla/grcov/issues/262

[2019-03-06 18:07] calixteman opened #263 "Compilation broken with edition 2018"
Just add edition = "2018" in Cargo.toml... and see what happens

[2019-03-08 19:23] Sylfrena commented on #263
Hey! I tried adding the edition as 2018 to the Cargo.toml . It resulted in a total build failure as the code for grcov is written in Rust 2015. I tried using  `cargo fix --edition-idioms` , and `cargo fix --edition-idioms --allow-dirty`  but that resulted in build failure as well. I am a beginner with Rust and would like to work on this issue but am unable to go ahead from here.

[2019-03-08 19:26] marco-c commented on #263
Hello @Sylfrena, we can't really help if you don't ask us a specific question :smile:

Working on this issue will mean building with edition 2018 and fixing the build failures one by one.

[2019-03-08 19:31] Sylfrena commented on #263
@marco-c
Oh! I think I can start trying to solve the build errors individually. Thanks for the heads up!

[2019-03-25 14:15] #262 closed

[2019-03-25 19:43] marco-c opened #267 "Add Clang 8 to test matrix on Travis"

[2019-03-29 08:23] jeremystucki opened #268 "Publish 0.4.3 on crates.io"

[2019-03-29 08:52] marco-c commented on #268
Done, thanks for reminding me!

[2019-03-29 08:52] #268 closed

[2019-03-29 09:18] marco-c commented on #239
We fixed this by only mapping partial Java paths.

[2019-03-29 09:18] #239 closed

[2019-03-29 09:37] #257 closed

[2019-03-29 09:51] marco-c opened #272 "Update crossbeam"
The latest version removed MsQueue, which we are using, so this isn't just a simple dependency update.

[2019-03-29 09:52] #267 closed

[2019-03-29 10:01] marco-c commented on #272
We could either switch to a [channel](https://docs.rs/crossbeam/*/crossbeam/channel/index.html), or to a [work-stealing deque](https://docs.rs/crossbeam/*/crossbeam/deque/index.html).
The other option is using a [SegQueue](https://docs.rs/crossbeam/*/crossbeam/queue/struct.SegQueue.html), but it doesn't support blocking `pop`, so it would require a bit of refactoring.

[2019-03-29 11:55] #244 closed

[2019-03-30 06:10] Mozilla-GitHub-Standards opened #278 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-30 11:25] #278 closed

[2019-03-30 15:46] kingram1 commented on #155
Hi @marco-c, I'm interested in working on this, how would I get started?

Thanks

[2019-04-13 17:18] Atul9 commented on #263
@calixteman @marco-c I have opened up a PR for this #280 please check

[2019-04-17 09:11] #263 closed

[2019-04-20 10:37] #235 closed

[2019-04-20 10:39] marco-c opened #281 "Define alias for some variable types"
As shown in #252, we are using some data types directly, which makes it hard when you want to switch to some other implementation of the same data type. E.g. in #252, we had to change a lot of places just to switch from HashMap to FxHashMap.

We should do something like https://github.com/mozilla/grcov/blob/14e4c76fd6951947c9406b404b715293a2104626/src/defs.rs#L51, defining aliases for specific usa

[2019-04-20 11:38] #225 closed

[2019-04-21 22:55] lawrencek0 commented on #281
Would it be alright if I work on this?

[2019-04-23 14:41] marco-c commented on #281
Sure, feel free!

[2019-04-27 12:45] calixteman opened #283 "Use rust hashmap instead of fxhashmap"
Recently, hashbrown (https://github.com/rust-lang/hashbrown) has been included in rust-lang so according to the benchmark (https://github.com/rust-lang/hashbrown#performance) we should at some point evaluate and probably use the rust HashMap.

[2019-04-27 12:46] #23 closed

[2019-04-30 07:55] La0 opened #285 "Add fuzzing team's format as output"
This is needed to start working on a better code coverage backend.

The output should be in JSON, and will be stored on a remote storage (S3), by the code-coverage bot from release-services.

The CLI arg could be `--output mozilla` or `--output mozilla-fuzzing`

## Excerpt from the [Code Coverage for fuzzing doc](https://docs.google.com/document/d/1rf2lWgLmyynhXert0-K2KMS-No8scggi1oAcoPiWjvk/edit#

[2019-04-30 07:57] marco-c commented on #285
Duplicate of #253.

[2019-04-30 07:57] #285 closed

[2019-05-09 10:38] #272 closed

[2019-05-14 10:25] #253 closed

[2019-05-17 10:49] #281 closed

[2019-05-27 13:49] choller opened #288 "Generated source files show up at toplevel"
We recently noticed that several generated C/C++ source files show up as being on the top level, rather than the sub directory where they belong, e.g.:

    🐳  docker ~ # grcov /home/worker/firefox/ -t coveralls+ -p /builds/worker/workspace/build/src --token X --commit-sha Y > tmp.json && python -m json.tool tmp.json | grep bd_lf_apply_tmpl.c

    "name": "8bd_lf_apply_tmpl.c",

    🐳  docker ~ #

[2019-05-27 13:58] marco-c commented on #288
The source path information in the file seems to be missing the directory.

[2019-05-27 14:00] choller commented on #288
Maybe if the information is entirely missing, grcov could use the directory where the gcno file is located (minus the path specified on the command line).

[2019-05-27 14:37] marco-c commented on #288
The info is there, but it just states the path (`        -:    0:Source:8bd_lf_apply_tmpl.c`)

[2019-05-27 15:47] choller commented on #288
So either we can somehow fix the produced gcno files or we add an option to grcov to guess the directory based on the gcno/gcda location if the file is toplevel.

[2019-05-27 17:42] choller opened #289 "Format option `covdir` is throwing backtrace"
I wanted to try the new `covdir` option but I am always hitting this backtrace when trying to use it:

    # RUST_BACKTRACE=1 grcov /home/worker/firefox/ -t covdir -p /builds/worker/workspace/build/src > coverage.json
    thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', src/libcore/option.rs:347:21
    stack backtrace:
       0: std::sys::unix::backtrace::tracing::imp::unwi

[2019-05-27 17:45] calixteman commented on #289
@choller could you send me a zip by email of your directory please ?

[2019-05-27 17:55] choller commented on #289
Here is a small directory that still reproduces

[fuzztest.zip](https://github.com/mozilla/grcov/files/3224647/fuzztest.zip)

[2019-05-27 18:11] calixteman commented on #289
This is the failing path:
/builds/worker/workspace/build/src/clang/bin/../lib/gcc/x86_64-unknown-linux-gnu/6.4.0/../../../../include/c++/6.4.0/bits/stl_iterator_base_funcs.h

When getting the subdirs here we try to get ".." as a file_name and so a failure.

[2019-05-28 13:51] #289 closed

[2019-06-03 19:16] #288 closed

[2019-06-11 10:58] marco-c opened #293 "8bd_lf_apply_tmpl.c has zero coverage, but it shouldn't"
This is on fuzzing runs.
We could check if it's the same on normal coverage runs.

[2019-06-11 11:02] choller commented on #293
Would be good to also cross-check `dom/bindings/CSS2PropertiesBinding.cpp` as an example.

[2019-06-12 03:53] TomPridham commented on #93
looks like this is closed by: https://github.com/mozilla/grcov/pull/252 ?

[2019-06-12 08:36] marco-c commented on #93
Yes, thanks! Duplicate of #235.

[2019-06-12 08:36] #93 closed

[2019-06-13 08:05] choller commented on #293
[bindings.zip](https://github.com/mozilla/grcov/files/3284836/bindings.zip)

This is the unified gcno/gcda file containing `dom/bindings/CSS2PropertiesBinding.cpp`

[2019-06-13 08:14] marco-c commented on #293
The file is covered, so this is indeed an issue in grcov.

[2019-06-13 08:22] calixteman commented on #293
The files have been generated with gcc and I can reproduce the issue using gcov-8 but it's ok with gcov-7 (ok with 6 too):
[code]
@choller is it ok for you with gcov-7 ?

[2019-06-13 08:27] choller commented on #293
We have been told to use gcov-8 because gcov-7 crashes frequently in our automation.

[2019-06-13 08:30] calixteman commented on #293
So try with 6 but the files are not readable with 8:
[code]

[2019-06-13 08:32] marco-c commented on #293
We don't support gcov 8 at all, do we?
I think you were using gcov-6 and I suggested you to use gcov-7.

[2019-06-14 09:39] marco-c commented on #293
It looks like the issue was the usage of the "source_dir" parameter.
We shouldn't ignore files when we have the "source_dir" parameter!

[2019-06-28 02:22] k-conway commented on #209
Hi @marco-c I'm brand new at contributing to Open Source and was thinking of grabbing this one. Can you point me at contribution instructions and guidelines?

[2019-06-28 08:15] marco-c commented on #209
@k-conway are you already familiar with how git and GitHub work?

[2019-06-28 18:34] k-conway commented on #209
Thank you @marco-c

I am familiar with git and GitHub. I've been able to contribute to a different project on GitHub but was having trouble getting process and info in this case!

[2019-06-28 22:31] marco-c commented on #209
@k-conway I asked simply because I needed to know where to start :P
We follow the usual GitHub flow, so you can just submit a PR when you are able to fix this issue.

The project is in Rust, but this particular issue is an issue in our CI and needs to be fixed in the yaml file I linked in the first comment. The documentation for building and testing the project are easy (https://github.com/mozilla

[2019-06-29 02:17] k-conway commented on #209
thank you so much @marco-c ! I appreciate the info as well as you checking to see what level of detail I was looking for.

I'll take a pass at this.

[2019-07-14 23:08] crawfordleeds commented on #195
Hey @marco-c, curious about any performance or stylistic improvements for doing this. My understanding of if-let's are primarily for handling a single match pattern and ignoring the rest. As I look through the codebase, most comparisons seem to have two match patterns, e.g. in lib.rs:

[code]

I could change that to and if-let like so:

[code]

Is this just the preferred syntax now, or are there p

[2019-07-15 09:21] marco-c commented on #195
It's just a stylistic preference, but not to apply in cases like the one you mentioned.

A good example is https://github.com/mozilla/grcov/blob/5d6715d3779ec43a21f1568fc945c31684b2831f/src/gcov.rs#L7, where:
[code]
would become:
[code]

[2019-07-15 17:08] crawfordleeds commented on #195
Great, thanks for the feedback. I'll take a shot at this and open a PR shortly. Thanks!

[2019-07-16 00:04] #195 closed

[2019-07-24 00:24] benmarten opened #298 "Simple Example for Common Cargo Project?"
I was wondering how to use this tool?
I have a regular cargo/rust project, initialized via `cargo init`...

Any examples would be appreciated ;)

[2019-07-24 09:01] marco-c commented on #298
@benmarten here's an example of grcov usage with Travis, but from it you can figure out how to use it locally or with any other CI provider: https://github.com/mozilla/grcov#grcov-with-travis.

[2019-07-24 09:01] #298 closed

[2019-07-24 09:42] calixteman opened #299 "Be able to skip errors and produce a report"

[2019-07-26 18:49] sankara commented on #94
I don't see a description in here. How do I find more information and see if I can contribute to fixing it?

[2019-07-28 10:47] marco-c commented on #94
I've added a description in the first comment.

[2019-08-01 20:07] svartalf opened #300 "Allow to set branch name for coveralls report"
Branch name is hardcoded to `"master"` right now, it would be nice to be able to change it via CLI argument

https://github.com/mozilla/grcov/blob/6471bb938c1306be97b830ae72571cb2e1ef0094/src/output.rs#L334-L339

[2019-08-05 07:56] marco-c opened #302 "Use rustfmt and setup CI and pre-commit to use it"
The pre-commit configuration can be similar to https://github.com/mozilla/rust-code-analysis/blob/4a899635cc7280bdc265cc2429bd164cfe61714c/.pre-commit-config.yaml.

[2019-08-06 22:46] #300 closed

[2019-08-07 07:43] La0 commented on #299
This is happening a lot lately: got ~ 10 runs in production aborting because of this :cry:

@calixteman Maybe we can work together on that one next week ?

[2019-08-07 08:02] calixteman commented on #299
I'll do it this week. My plan is to add logging and log instead of fail

[2019-08-07 08:23] marco-c commented on #299
We should try to log from which file (and which zip) the error is coming from and log the error on Sentry, so we can see if there is a pattern.

[2019-08-07 08:24] marco-c commented on #299
(My guess is the Firefox process getting killed by the test harness for some reason, e.g. timeout or something like that)

[2019-08-07 08:29] La0 commented on #299
Is sentry support available in grcov, or should that be done by the code
coverage bot ?

Le mer. 7 août 2019 à 10:23, Marco <notifications@github.com> a écrit :

[2019-08-07 08:34] calixteman commented on #299
It exists a crate for sentry: https://docs.sentry.io/platforms/rust/
It seems possible to use sentry with log crate: https://docs.sentry.io/platforms/rust/log/ and so according to the passed options we can then log to a file, std(err|out) or sentry.

[2019-08-07 08:39] marco-c commented on #299
I'd make grcov "dumb" and just log normally, and the code coverage bot log to Sentry (so we can easily switch to something else if we want, e.g. having a dashboard like the static analysis one).

[2019-08-07 08:45] calixteman commented on #299
@marco-c that's my plan: make an agnostic log and just change the way to output the results according to options.

[2019-08-08 12:58] marco-c commented on #135
CC @La0

[2019-08-08 13:04] La0 commented on #135
- Build on Linux
- Build on Windows
- Store builds as Artifacts
- Add clean routes to retrieve `latest` & `hash` builds

[2019-08-08 16:29] ghost opened #306 "Add `cargo clippy` pre-commit hook"
Per pull request #305, we have added pre-commit hooks for formatting and testing. Clippy was included but commented out due to a large number of errors and warnings that require resolution with clippy. The consensus seems to be that we should resolve those errors/warnings and include clippy.

[2019-08-08 16:31] crawfordleeds opened #307 "Add vcs-branch option to README"
Pull request #300 added vcs-branch as an optional argument but was not documented in the README.

[2019-08-08 17:08] marco-c commented on #302
Fixed by #305.

[2019-08-08 17:08] marco-c commented on #302
Oops, we still need to setup CI.

[2019-08-09 02:36] crawfordleeds opened #308 "Integration Tests Failing"
I'm currently having issues getting all the integration tests to pass. I've had this issue since I first cloned the repository which I have mostly ignored. However, it is now causing problems now that the pre-commit hooks are enabled on this repository. Since it doesn't pass the tests I have to commit with --no-verify.

I was hoping to get some help either identifying the issue on my machine or de

[2019-08-09 08:16] marco-c commented on #308
What version of LLVM and GCC do you have?

BTW, since integration tests are hard to set up at the moment, we should make pre-commit not run them.

[2019-08-09 08:17] calixteman commented on #308
FYI, the way to run all the tests:
GCOV=gcov-7 CLANG_CXX=clang++-9 GCC_CXX=g++-7 cargo test

The integration tests are failing with a g++ version upper than 8 (included).

[2019-08-10 06:06] crawfordleeds commented on #308
Thank you both for the feedback.

@marco-c, I'm on macOS and running Apple LLVM version 10.0.1 (clang-1001.0.46.4). I'm actually not sure what version of LLVM that corresponds to - I think they stopped sharing that in Apple LLVM version 7. I did some searching and [this table](https://en.wikipedia.org/wiki/Xcode#Toolchain_versions) seems to imply LLVM version 7.0.0.

I've never done it, but do you

[2019-09-02 07:06] #82 closed

[2019-09-02 15:03] marco-c commented on #308
On Travis (where the integration tests are passing), we have `Apple LLVM version 9.1.0 (clang-902.0.39.2)`.

I've never done that myself either (I'm on Linux). I'd try with homebrew first, and if that doesn't work I'd resort to building LLVM from source (then when you run grcov's unit tests, you can simply add the clang obj dir to your PATH).

[2019-09-02 15:11] calixteman commented on #308
The values of the env vars depend of the versions of gcc/clang you've on your machine.
Finally these values are just the name of the commands to run g++, clang++ and gcov (coming with gcc).

[2019-09-02 22:36] marco-c commented on #306
Fixed by #309.

[2019-09-02 22:40] marco-c commented on #299
Fixed by #304.

[2019-09-02 22:40] #299 closed

[2019-09-03 00:26] crawfordleeds commented on #306
Hey @marco-c, I'm afraid I may have misled you on PR #309. There was one remaining issue with running clippy. I tried to add it as part of a review but that probably wasn't clear enough.

With the current state of the repo, if you run `cargo clippy --all-targets --all -- -D warnings` one error lingers. This makes it such that the pre-commit hook will fail so people will have to commit with the `--

[2019-09-03 00:47] crawfordleeds commented on #258
I was just thinking of making this same issue when I saw this. I'm slammed tomorrow but will try and get started on this on Wednesday.

[2019-09-03 08:15] marco-c commented on #306
Oh, ok. I've committed f0ed4cdcdcdfda9132bbe0be60200d22e922aeec to temporarily disable Clippy (so that other contributors won't be confused if pre-commit fails).

I think the "dyn" error is just hiding the others. When you add "dyn", Clippy will show the other errors too, which have to be fixed one at a time.

[2019-09-03 08:16] marco-c commented on #306
Note: currently Clippy is running on all files even if you just modify one. We should make it only run on the files modified by the commit.

[2019-09-03 08:16] marco-c commented on #306
Or maybe not, as errors could be introduced in a different file than the one you're modifying if they have a relation.

[2019-09-04 01:23] crawfordleeds commented on #306
Thanks for the feedback Marco, and sorry for the miscommunication. I'll dive into the issues that arise after adding `dyn` and have a PR to fix this shortly.

I agree on having clippy review all files with pre-commit. Let me know if you think that becomes cumbersome and I'll make a fix.

Thanks!

[2019-09-05 05:52] crawfordleeds opened #314 "Clippy - too-many-arguments-threshold cleaup"
The default lint for [too-many-arguments-threshold](https://rust-lang.github.io/rust-clippy/master/index.html#too_many_arguments) is 7.

There is one violation of this here:
https://github.com/mozilla/grcov/blob/6bc906f1065e51ebb78c1a27fbe8535228ebba39/src/producer.rs#L66-L75

To resolve this I've changed too-many-argument-threshold to 9 in a new clippy.toml file in my PR #313.

I'm opening this i

[2019-09-06 15:20] Mika-net commented on #226
@marco-c if it's alright I will start on this #228 and submit a PR with it either today or tomorrow.

[2019-09-06 16:37] marco-c commented on #226
Sure, feel free, that PR was abandoned.

[2019-09-06 20:42] Mika-net commented on #226
@marco-c I've submitted a PR, lmk if anything looks off.

[2019-09-10 12:51] La0 opened #316 "Generate sub reports for platform & test suites"
From https://github.com/mozilla/code-coverage/issues/104

We would need to provide platform & test suites to grcov (it cannot rely on filenames for that);

[2019-09-10 14:53] marco-c commented on #226
The ADE files (*.ade) should not be prettified (the tests are reading one line at a time: https://github.com/mozilla/grcov/blob/6bc906f1065e51ebb78c1a27fbe8535228ebba39/tests/test.rs#L221-L231). Sorry, I forgot to mention that :(

[2019-09-10 16:43] Mika-net commented on #226
That would explain that, no worries. I'll try with just the coveralls

[2019-09-10 17:07] marco-c commented on #226
covdir should be OK to prettify too

[2019-09-11 12:55] #226 closed

[2019-09-16 09:33] blaesus opened #317 "How to exclude dependencies from HTML report?"
So I have a Rust project that have some dependencies (and dependencies' dependencies).

Here are the commands I used to gather test coverage:

[code]

The problem is that the output HTML contains coverage information about dependencies, such as `libcore`, `hyper`, `crossbeam` and many others.

Is there an option somewhere where I can filter out these external dependencies from the HTML report?

[T

[2019-09-16 16:36] marco-c commented on #317
You can use the `--ignore-dir` option.

[2019-09-16 16:36] #317 closed

[2019-09-24 07:49] NerdyPepper commented on #193
A couple of suggestions:

`-I` - used by `ls(1)` and `tree(1)`
`--ignore=pattern` - used by `ls(1)`
`--exclude=pattern` - used by `grep(1)`

Let me know what you think @marco-c

[2019-09-25 08:45] marco-c commented on #193
I'd go with `--ignore`, what do you think @calixteman ?

[2019-09-25 09:24] marco-c commented on #205
This can be a bit risky for some use cases, so it's better to avoid it and let users define their src dir.

[2019-09-25 09:24] #205 closed

[2019-09-30 22:52] #193 closed

[2019-10-01 13:04] NerdyPepper commented on #234
@marco-c, would this be a duplicate of #283, now that `std::collections::HashMap` uses hashbrown by default?

In any case #324, addresses this, let me know what you think!

[2019-10-01 16:50] Fubuchi commented on #249
I have read the travis example and still can not make grov work for my local project (using `cargo new --lib`).
I can not figure out what `~/Documents/FD/mozilla-central/build`  is in my project. I tried to run `grcov` command with the may path arguments: my project root folder, `target/debug`, `target/debug/build` and got the same error:

[2019-10-01 17:15] calixteman commented on #249
@Fubuchi, I added coverage for an other project:
https://github.com/mozilla/dump_syms/blob/master/.taskcluster.yml#L64-L82
The "env" section is important to have the correct flags to compile for ccov.
And the "command" section contains almost what you probably need.

[2019-10-01 21:20] lobianco commented on #317
This doesn't answer OP's question. As you can see from their example they did try `--ignore-dir` to no avail.

I'm in a similar boat. I zip up only the `.gc*` files that pertain specifically to the members of my workspace (e.g. only the files that are prefixed with a member's name) and run `grcov` on it:

[code]

When I create a report from `grcov.info` it contains coverage information for several

[2019-10-02 01:52] Fubuchi commented on #249
@calixteman I tweak the command a bit to make it work on windows powershell and install WSL to get the genhtml tool.

[2019-10-02 10:47] calixteman commented on #317
--ignore-dir (now --ignore) is a glob pattern so if you want to ignore all paths starting with a "/" then use "/*" or if you want to ignore files under deps then use "deps/*"

[2019-10-02 10:51] marco-c commented on #234
Yes, definitely a duplicate.

[2019-10-02 10:51] #234 closed

[2019-10-02 18:11] lobianco commented on #317
Thanks, I understand how the flag works. But it is not a solution to this problem. Perhaps if I provide more context that will be helpful.

Here is a simplified representation of my build steps:

[code]

After running the html report I still notice code coverage results for external dependencies that _don't exist_ in `grcov.zip`. Adding `--ignore-dir "target/debug/deps/*` to the `grcov` command ha

[2019-10-02 18:19] calixteman commented on #317
try to add --ignore-dir="/*" (you can use the option several times).
The source of depencies are downloaded in a directory like "/home/lobianco/.cargo/...".
A good way to know is to have a look at the generated info file and see what the undesired paths.
FYI, there's an option -t html to output directly some html (and use -o for the output directory) to avoid genhtml (we'd like to have feedback on

[2019-10-02 18:40] lobianco commented on #317
@calixteman that did it! I could've sworn I tried that early on in my troubleshooting but I guess not.

I'm only using genhtml as a stopgap until I start uploading my results to GitLab's CI. But good tip on the `-t html`.

Thank you for your help 🙂

[2019-10-04 14:37] TomLouisKeller commented on #249
Took me a while to get this going, so I thought I'd share my progress.
This is an attempt at a minimal version with Rust, and I'm still not sure what all the flags mean.

Create a new project and go into the directory
[code]
Set the environment variables
[code]
Build Rust project and run tests
[code]
Create a directory, in which we store the code coverage files
[code]
Add the needed files into a z

[2019-10-04 14:49] calixteman commented on #249
You can try the new html output format: -t html and -o output_dir and give us some feedback on this output.

[2019-10-04 14:57] Fubuchi commented on #249
@calixteman  is the html supported it in the 0.5.3 version? I install grcov for windows from cargo, result in version 0.5.0

[2019-10-04 14:59] calixteman commented on #249
Yep it should be in 0.5.3:
https://github.com/mozilla/grcov/commit/7da9c4afbfc2dbe282f62acbb53da110af1437be

[2019-10-04 15:00] calixteman commented on #249
@TomLouisKeller just a detail to add is that rust nightly is mandatory.

[2019-10-04 15:06] Fubuchi commented on #249
I have just test the html output format, look very good 👍 . Hope the new version will come to crates.io soon

[2019-10-04 16:19] marco-c commented on #249
I've released 0.5.1, 0.5.2, 0.5.3 and 0.5.4 (which changes `--ignore-dir` to just `--ignore`) on crates.io.

[2019-10-05 09:30] TomLouisKeller commented on #249
@calixteman @marco-c Very nice, thank you =)

[2019-10-07 08:11] calixteman opened #326 "Add a command "cargo grcov""
https://github.com/mozilla/productivity-tools-projects/issues/289

[2019-10-08 06:42] blaesus commented on #317
@lobianco Thanks for raising the questions.
I ended up brute-forcing enumeration of all unwanted dependencies like this:

[code]

[2019-10-10 08:42] da-x opened #329 "Thread safety"
I am trying grcov to analyze output from a multi-threaded app, and I am getting unreliable results.

The 'gcda' emitting bits in [LLVM code](https://github.com/llvm/llvm-project/blob/master/compiler-rt/lib/profile/GCDAProfiling.c#L18) say:

[code]

Maybe should open an issue with LLVM? Or there's something else we can do?

[2019-10-12 04:07] zhihaoy opened #331 "Command-line option for parallel mode"
See also https://docs.coveralls.io/api-reference

This is needed to setup build matrix.

[2019-10-13 04:56] nesc1 opened #332 "Add an option to only keep specific files (opposite of --ignore)"
Hi, i use option --ignore <path> to remove paths that i don't want, but linux lcov version has an option to do the oposite:
[code]
Create a new lcov info file including information for only that path.

Is there a way to do the same with grcov?

Thanks for the attention and great work.

[2019-10-14 19:17] M4rk9696 commented on #83
I'll start writing the benchmarks.

@marco-c I looked at the occurrences of serialization with the `json!` macro, occurrences in `output.rs` seems to be covered in benchmarks, so I'll write benchmarks for the public functions in `covdir.rs`? This would include adding benchmarks for `CDStats`, `CDFileStats`, `CDDirStats`

[2019-10-15 12:28] marco-c commented on #307
Fixed by 394330ba4c0fcd84ed5781a66c73f4d8e47c05fe.

[2019-10-15 12:28] #307 closed

[2019-10-15 12:32] marco-c commented on #127
See also #306.

[2019-10-15 17:05] marco-c commented on #329
There is this bug open in LLVM: https://bugs.llvm.org/show_bug.cgi?id=20986.
If you have a minimal repro case, that might help.

[2019-10-15 17:09] marco-c commented on #329
@calixteman had a patch for LLVM to implement atomic increment of the coverage counters, maybe we could actually land it (and make it optional, as it slows down the resulting build even more).

[2019-10-15 17:10] marco-c commented on #329
This bug is about multi-process safety, you might want to open another one for thread safety.

[2019-10-15 17:12] marco-c commented on #331
PR welcome, this should be an easy fix (in src/output.rs).

[2019-10-16 13:47] M4rk9696 commented on #331
Can I pick this up?

[2019-10-16 13:49] M4rk9696 commented on #331
I need to add a command-line option `parallel` that will be added to `output_coveralls`, right?

https://github.com/mozilla/grcov/blob/4c4a72ae4952c502d04c2974e46f5b14fde746da/src/output.rs#L337-L353

[2019-10-19 23:21] #331 closed

[2019-10-19 23:22] marco-c commented on #332
Not right now, but I agree such an option would be useful (basically the opposite of --ignore, maybe we could call it --keep-only).

[2019-10-20 17:42] #258 closed

[2019-10-20 17:42] #308 closed

[2019-10-20 17:43] marco-c opened #339 "Add "HTML output" section to README"

[2019-10-20 17:43] marco-c opened #340 "Add a ToC in the README"

[2019-10-21 11:12] TaranSinghania commented on #138
@marco-c Can I work on this?

[2019-10-21 11:22] marco-c commented on #138
Sure, no need to ask ;)

[2019-10-25 07:28] GGeethanjali commented on #340
I can pick this up!

[2019-10-26 02:28] mimoo opened #344 "function coverage of a non-test function"
Hello,

I'm trying to find out if I can get this stat: how many functions end up getting called (out of all functions in the codebase) by a specific non-test function. Is this possible with grcov?

[2019-10-30 17:45] #344 closed

[2019-10-31 10:14] #340 closed

[2019-12-18 13:07] marco-c opened #359 "Remove top-level workaround when it is no longer needed"
a54ae62fc145d688d82e520ec7ace0bb3d602dc9 can be reverted once https://bugzilla.mozilla.org/show_bug.cgi?id=1597997 is fixed.

[2019-12-21 21:32] Minoru opened #362 "Fill out `git` key in Coveralls report"
Coveralls docs [say](https://docs.coveralls.io/api-reference) that `git` can contain a lot more than grcov [currently supplies](https://github.com/mozilla/grcov/blob/b151dc60dacb091864be0735f7a369535623acd4/src/output.rs#L342-L347):

[code]

I'm not entirely sure, but I think the missing `author_name` etc. are the reason why grcov reports don't list this info: compare [this `grcov` report](https:/

[2019-12-23 10:12] marco-c commented on #362
Thanks for reporting this. Relying on the `git` executable seems OK to me!

[2019-12-23 12:45] sylvestre opened #364 "Please upload 0.5.7 to crates.io"
merci!

[2019-12-23 13:30] marco-c commented on #364
Done, I've published both v0.5.6 and v0.5.7.

[2019-12-23 13:30] #364 closed

[2019-12-23 14:55] Minoru commented on #362
Okay, I'm on it!

[2020-01-07 10:53] #359 closed

[2020-01-07 10:57] #362 closed

[2020-01-07 10:58] marco-c opened #370 "Add an integration test for the Coveralls git information"
Basically an integration test for the changes in #366.

[2020-01-09 16:48] gilescope opened #371 "Can deflate be an optional dependency?"
zip depends on libz-sys which doesn't always build nicely on windows (no I've not figured out why yet).

It's currently:
zip = { version = "^0.4", features = ["deflate-zlib"], default-features = false }

If I set it to this it builds fine:

zip = { version = "^0.4", default-features = false }

Less c dependencies can be very helpful when you're trying to get stuff to work.

[2020-01-09 17:24] gilescope commented on #249
These instructions are extremely helpful. Can someone please turn this issue into a documentation PR please?

[2020-01-09 18:06] gilescope commented on #371
zip-rs compiles to wasm for deflate so it's got very few dependencies. Could that be used instead?

[2020-01-09 18:15] gilescope commented on #371
Adding in \msys64\mingw64\bin to the path made things happier, so closing this for now. One day it will be rust all the way down... :-)

[2020-01-09 18:15] #371 closed

[2020-01-09 23:32] marco-c commented on #249
@gilescope can you? :)

[2020-01-11 13:01] redtankd opened #373 "Coveralls's API requires "service_job_id" field"
According Coveralls' API Document,  `service_job_id` is used to reference a repository.

[code]

But grcov generates `service-job-number` now. Although Coveralls can accept grcov's output, there are some problems. For example the link from Coveralls to Travis doesn't work.

[2020-01-11 15:24] Minoru commented on #373
Wow, good catch @redtankd! I wonder how I overlooked this while working on #361. I'm checking right now what will happen if I simply replace "service_job_number" key with "service_job_id".

[2020-01-11 17:17] Minoru commented on #373
I don't see any change in the results. I'd keep the change regardless, because it's in line with Coveralls docs—but this decision is up to @marco-c.

My changes are here: https://github.com/Minoru/grcov/commit/8c2a4b96ef773ecbb3cca8bf4b26b2f3f9d24c3a

Example Travis build: https://travis-ci.org/newsboat/newsboat/jobs/635698878

Coveralls report: https://coveralls.io/builds/28046645

For comparison

[2020-01-11 18:57] Minoru commented on #373
Disregard my previous comment: I didn't commit changes to the example project. Please wait for the new results.

[2020-01-11 19:20] Minoru commented on #373
Updated results:

- Travis build: https://travis-ci.org/newsboat/newsboat/jobs/635750808
- Coveralls report: https://coveralls.io/builds/28047278

The report is very much improved:
- it mentions the "per-project" ID that Travis uses, instead of globally-unique Travis ID. In this case, it uses "1599" instead of "635695318";
- it displays my GitHub handle instead of the name from the Git commit.

I'

[2020-01-11 20:28] Minoru commented on #373
Results without `--commit-sha` look practically the same:
- Travis build: https://travis-ci.org/newsboat/newsboat/jobs/635759308
- Coveralls report: https://coveralls.io/builds/28047613

@marco-c, should `--commit-sha` simply be dropped?

[2020-01-12 11:03] marco-c commented on #373
@Minoru thanks for testing!
I wouldn't drop it, the additional data might be useful for other services (e.g. codecov) or people relying on this output format from grcov to generate their own reports.

[2020-01-12 12:20] Minoru commented on #373
Then at least it should be optional (`--commit-sha` is currently required for "coveralls" and "coveralls+" reports). PRs forthcoming.

[2020-01-13 01:45] redtankd commented on #373
Great job! Thank you very much! @Minoru

[2020-01-17 12:09] ligurio opened #377 "Generate code coverage data per test"
Hello!

Is it possible to generate code coverage per test with tarpaulin?

[2020-01-17 14:34] Nokel81 commented on #249
When I run those instructions I get the following error from rustc (during the `cargo build` step)

[code]

[2020-01-17 14:44] calixteman commented on #249
@Nokel81, probably related to:
https://github.com/rust-lang/rust/issues/63047

[2020-01-17 14:47] Nokel81 commented on #249
@calixteman Thanks, will try in a linux VM

[2020-01-17 16:49] Minoru commented on #377
Hi! As far as I understand, grcov only *collects* the coverage generated by the compiler(s). So in order to get per-test reports, you'll have to run just one test, collect coverage, remove coverage files (*.gcdo and *.gcda), and repeat that for each test.

[2020-01-17 16:53] calixteman commented on #377
@Minoru +1
No need to remove gcno (they just contain information about files, counter, ...).
gcda are generated at runtime (and gcno at compile time and they're required to read gcda).
But anyway, it could be interesting to use grcov as a library and automate that stuff for rust projects at least.
As usual PRs are welcome.

[2020-01-18 15:12] Minoru commented on #373
One more reason to fix this: on Travis, Coveralls' token is usually put into an encrypted variable, to hide it from logs—but it also [hides the token from PRs](https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions). As a result, only PRs created from within the repository can submit coverage to Coveralls. That's exactly how I was testing grcov so far, so I never no

[2020-01-25 22:32] Minoru commented on #373
Addendum to my previous comment: for that idea to work, we'll have to make `--token` optional, requiring either `--token` or a combination of `--service-name` and `--service-job-id`. Right now, `--token` is required, and if I do something like `--token ${COVERALLS_REPO_TOKEN}`, the JSON contains an empty string and makes Coveralls reject the submission even though it could authenticate the submiss

[2020-01-28 22:49] #373 closed

[2020-01-30 17:33] Nokel81 opened #380 "Oddity in what lines count towards coverage."
I find it strange that the test functions are counted towards coverage percent. Would it be able to ignore this?

Some other things that I find strange which need to be covered but aren't always:

1. struct definitions (even if that variant is used)
2. trait definitions (even if a type which implements that trait is used through a trait typed variable)
3. comments (even if the following lines are

[2020-01-31 12:41] Minoru commented on #380
I think you can put the tests into separate files, and ignore them by passing `--ignore` to grcov. That's be pretty inconvenient though:
1. keeping tests in a separate file makes it slightly harder to get to them;
2. keeping tests in a separate submodule means creating many more subdirectories;
3. I don't think `grcov` globs support `**`, so you'll have to `find -name` all the test files, and turn

[2020-01-31 13:37] Nokel81 commented on #380
Well it obviously can mark things as "not coverage" since items like `const` are just ignored. So it could just do that.

However, is this a better question to ask on the **rustc** side since that is where this information is generated?

[2020-01-31 15:19] Minoru commented on #380
I believe the ignored lines are the ones for which the compiler didn't generate any code. This isn't something that grcov can do or influence—it can only display what the compiler told it, and what the runtime counted. So yeah, rustc repo might be a better place to discuss this.

[2020-01-31 15:23] Nokel81 commented on #380
Okay thanks, will close this one then.

[2020-01-31 15:23] #380 closed

[2020-02-03 11:29] marco-c commented on #380
https://github.com/rust-lang/rust/issues/68703

[2020-02-15 07:23] fgimian commented on #249
Hey guys, is there currently any way to print a report to the terminal? 😊

[2020-02-15 12:10] gilescope commented on #249
@fgimian the top level is printed to the terminal when genhtml is run if that helps - E.g.:
[code]

[2020-02-15 12:39] Nokel81 commented on #249
`grcov` supports "covdir" which is a json format and one of the top level fields is `coveragePercentage`.

Also, it doesn't seem to be documented but `grcov` does also seen to be able to generate the html reports directly (without using `genhtml`)

[2020-02-15 13:12] gilescope commented on #249
Nice - less dependencies makes happier users. Yep that -t html seems to work fine. Great.

[2020-02-16 07:52] gilescope commented on #326
Would this be as a separate crate? Could we put it in a sub-dir still of this repo? Happy to do an initial PR to get this going if there's appetite?

[2020-02-16 08:00] gilescope commented on #326
``cargo grcov --open -- cargo test``
The command would set up the env variables before hand, then run the command after -- and then would run an output type of -t html by default and output to target/debug/coverage by default and accept a --release flag to output it into the release dir.

The --open would open the html results in a browser.

That's kinda what I was thinking. Does it tally with you

[2020-02-19 20:42] zhihaoy opened #389 "Broken on GCC 8"
[code]

[2020-02-19 20:44] marco-c commented on #389
Duplicate of #55.
The format has changed in GCC 8 (and again in GCC 9). We'll need to add support for parsing it.

[2020-02-19 20:44] #389 closed

[2020-02-23 01:09] amyspark opened #390 "Coverage report is blank when using data generated by cargo-cov"
- cargo-cov version 0.0.5
- grcov version 0.5.9
- Rust toolchain 1.43.0-nightly (e02974078 2020-02-18)

I have a small app for which I test coverage via both documentation and integration tests. Usually, I'd just run in stable:
[code]
but `cargo cov` breaks when running integration tests, so instead I resorted to:
[code]
The latter recognizes my source files, but it outputs 0% coverage for every f

[2020-02-24 14:42] amyspark commented on #390
This issue is reproducible only in Linux when using the nightly toolchain, beta yields an incomplete report and outputs `[ERROR] Error in computing counters: File checksums do not match: 1628579742 != 2776909238 in lib`.
All toolchain channels work in macOS.

[2020-02-25 15:49] marco-c commented on #390
Could you upload the coverage artifacts?

[2020-02-25 18:25] marco-c commented on #326
@gilescope that sounds good to me, it could be part of this repo.

An additional feature could be uploading to the coverage services.

[2020-02-25 20:14] amyspark commented on #390
Here they go.
[nightly.tar.gz](https://github.com/mozilla/grcov/files/4251954/nightly.tar.gz)
[beta.tar.gz](https://github.com/mozilla/grcov/files/4251956/beta.tar.gz)

[2020-03-07 17:05] ethanabrooks opened #392 "Duplicate function detected"
I have the following project:
[code]
`lib.rs` contains a simple function with three branches:
[code]
My tests cover all the lines of code:
[code]
However when I run `genhtml` on the `grcov` output, it indicates that there are two functions, only one of which gets tested:
[code]
Neither function is given a human-readable name:
![image](https://user-images.githubusercontent.com/10344742/76147576-b7d

[2020-03-07 17:26] ethanabrooks opened #393 "Confusion over branch coverage"
I have the following project:
[code]
`lib.rs` contains a simple function with three branches:
[code]
My tests cover all the lines of code:
[code]
When I look at the resulting `lcov.info` file, it looks like it identifies only one branch, but says that my tests hit three branches:
[code]
Also, why are all three branches associated with the same line? Am I misinterpretting this output?

To reproduce

[2020-03-07 19:19] calixteman commented on #393
I think you're making a confusion between branches and blocks:
 - you've 3 blocks at lines 4,5 & 6
 - you've 3 edges starting at line 3 and going to each block.
So I'd say that BRDA line number is the line where the edge comes from.
To be sure (the `lcov` doc is kinda unclear), I wrote this code in C (`gcc foo.c --coverage -oo && ./o`):
[code]
and the resulting `.info` (`lcov --capture --directory

[2020-03-07 19:38] calixteman commented on #392
Just after cargo test, just run `find . -name "*.gc*"` and you'll get something like:
[code]
As you can see there are 2 `submission-foo` and each of them bring a function `fib`.
I've no idea why `cargo` is doing that (probably related to the way to run tests).
Maybe file a bug: https://github.com/rust-lang/cargo

[2020-03-07 19:38] #392 closed

[2020-03-07 22:43] ethanabrooks commented on #393
What do you make of BRF--number of branches found, according to the lcov docs? Shouldn't branches hit (BRH) be less than or equal to branches found?

[2020-03-09 08:22] calixteman commented on #393
My bad, I read your comment to quickly.
Yes, there is something strange with BRF, the doc says:
`BRF:<number of branches found>`
so maybe it should be 3 here.

[2020-03-14 12:02] calixteman opened #396 "Print an error when archives contain data but no match between gcno/gcda paths"

[2020-03-15 11:43] #393 closed

[2020-03-17 16:50] calixteman commented on #396
I'd say that this issue is fixed by: https://github.com/mozilla/grcov/pull/400
Either we manage to match files (using paths or with their name+stamp) or in case of a duplicate name+stamp a panic started.

[2020-03-17 22:35] #249 closed

[2020-03-23 18:14] lmammino opened #401 "Inconsistent coverage report"
Hello, here a Rust noob, so please excuse if this issue will end up being just the result of some stupid mistake on my side.

Anyway, I just added `grcov` to the CI of my [first Rust project](https://github.com/lmammino/jwtinfo).

The issue I am seeing is that some line are reported as not covered when they obviously are (too me).

Take this example here: https://codecov.io/gh/lmammino/jwtinfo/src

[2020-03-24 22:19] lmammino commented on #401
Managed to run tests using [`tarpaulin`](https://github.com/xd009642/tarpaulin) and I get way better results. See the attached report for comparison.

[tarpaulin-report.html.zip](https://github.com/mozilla/grcov/files/4377899/tarpaulin-report.html.zip)

Tarpaulin is a lot more complicated to set up and it does not provide reporting for branches and calls count (as far as I can tell), so I'd love t

[2020-03-25 16:40] marco-c opened #403 "Bundle tcmalloc to avoid dependency on external libraries"
Follow-up to #402.

[2020-03-26 01:02] U007D opened #405 "cargo cannot upgrade from grcov 0.5.9 -> 0.5.10"
upgrading with `topgrade` or just a `cargo install grcov` fails with
[code]
Is this expected?  Or is `tcmalloc` expected to be installed at some location?
Pop_OS!/Ubuntu

[2020-03-26 07:55] jcdickinson commented on #405
Seems like #403 will resolve this, after #402 introduced it.

More context: this breaks anybody using https://github.com/actions-rs/grcov in the absence of a workaround.

[2020-03-26 09:11] calixteman commented on #405
I'll try fix that today, sorry for the inconvenience.
Anyway a workaround to build and run it is to install the package `libgoogle-perftools4-dev` (debian/ubuntu) to compile grcov.
And it induces a runtime dependency on `libtcmalloc.so` which is in package `libgoogle-perftools4`.

[2020-03-26 09:15] calixteman commented on #405
Anyway, I just made a patch make tcmalloc optional.

[2020-03-26 10:34] #405 closed

[2020-03-26 10:47] marco-c commented on #405
I've released 0.5.11.

[2020-03-26 11:47] calixteman commented on #401
Just adding `#[inline(never)]` on `Token::new` definition is enough to show that this function is covered.
So for me it isn't a bug in grcov but in rust compiler.
Normally the compiler option `-Cinline-threshold=0` should disable inlining on such a function.

[2020-03-26 11:47] #401 closed

[2020-03-26 12:00] calixteman commented on #401
FYI, I filed a bug:
https://github.com/rust-lang/rust/issues/70426

[2020-03-26 15:54] lmammino commented on #401
Thanks a lot @calixteman! I will follow along on your issue!

[2020-03-26 20:07] U007D commented on #405
I just upgraded successfully from 0.5.9->0.5.12 where yesterday the same failed.
I'm not sure what 0.5.11 had to do with it, but thanks!

[2020-03-28 18:04] RCasatta commented on #405
is it possible that bundled binaries still needs tcmalloc available at runtime, my travis job contains (it just run so I think it's using 0.5.12)

[code]
fails with
[code]

I am temporarily switching back to 0.5.9

[2020-03-28 19:39] marco-c commented on #405
The release in GitHub releases depends on tcmalloc, yes. We could possibly avoid that.
Why are you not using Cargo?

[2020-03-28 22:55] RCasatta commented on #405
To be honest I just followed grcov README https://github.com/mozilla/grcov#grcov-with-travis

I changed my .travis.yml with cargo install and it works with 0.5.12 but the job it's taking about 2 minutes more than downloading binaries

[2020-03-29 09:49] kngwyu commented on #405
@RCasatta
I encountered the same problem and resolved it by
[code]

[2020-03-30 11:20] marco-c commented on #405
We are releasing a new version soon which removes the tcmalloc dependency (you will have a "normal" release without tcmalloc and a release with tcmalloc).

[2020-04-06 14:33] amyspark commented on #390
Ping, were you able to triage this @marco-c ?

[2020-04-06 15:20] calixteman commented on #390
Probably some issue with `cargo cov` (we aren't the maintainers of this project).
I just `git clone https://framagit.org/amyspark/rattx.git` and ran the following commands:
[code]
and I got a `html` dir containing some covered code in `src/commands` and in `src/extensions`.
Have look on this doc: https://github.com/mozilla/grcov#grcov-with-travis

[2020-04-06 17:38] amyspark commented on #390
@calixteman , please note that I don't use `grcov` directly for the coverage report.
Both `cargo cov` and `grcov` output valid data (as you demonstrated), the problem is I cannot use `lcov` to generate the report.

[2020-04-07 08:07] calixteman commented on #390
The generated gcda (which contain the counter values) contain only zeros, it's why you get 0 coverage.
So the problem isn't on the `grcov` side but likely on `cargo cov` side.

[2020-04-07 10:55] marco-c commented on #390
It seems like this isn't an issue in grcov.

[2020-04-09 14:05] amyspark commented on #390
@marco-c , @calixteman , thanks for checking this out. I'd like to clearly dissent with you - this is certainly an issue with `grcov`.
[This job at Framagit](https://framagit.org/amyspark/rattx/-/jobs/756327) contains both the report generated by `cargo cov`, and the one generated by `lcov` with the output of `grcov`. Please notice that the lcov version is completely empty, whereas the cargo-cov v

[2020-04-19 00:07] marco-c commented on #390
I bet there is some mismatch in the paths.
Any reason why you don't directly use the grcov HTML output rather than converting to the LCOV format and using genhtml?

[2020-04-19 02:45] amyspark commented on #390
@marco-c `grcov` doesn't print coverage rate info to console.
I use `genhtml` to output it to console, and then [Gitlab can capture it](https://docs.gitlab.com/ee/ci/pipelines/settings.html#test-coverage-parsing) with the regexp `^\s+lines\.+:\s+([\d.]+\%)\s+` for display in the job dashboard and coverage badge.

[2020-04-19 10:19] marco-c commented on #390
We could add an option to grcov to print those stats at the end.
Could you also share with us the lcov.info output from grcov?

[2020-04-19 17:18] amyspark commented on #390
Sure @marco-c ! [Here you go.](https://framagit.org/amyspark/rattx/-/jobs/968658/artifacts/browse)

[2020-04-20 09:49] marco-c opened #420 "Support textual output"
Similarly to llvm-profdata:
![prio](https://user-images.githubusercontent.com/1616846/79738413-00348480-82fd-11ea-9365-e9386f5e7a96.png)

[2020-04-27 05:44] j4qfrost opened #424 "Ignore lines under "test" directive"
Is there a way to ignore code that is configured under #[cfg(test)]? I currently write tests that are placed inside the source files for convenience, and it's a pain to see the line and function percentages skewed because coverage is expected for the tests as well.

[2020-04-27 13:19] Minoru commented on #424
Try putting them in separate files and ignoring with `--ignore`. See https://github.com/mozilla/grcov/issues/380 for previous discussion on this.

[2020-04-27 13:23] j4qfrost commented on #424
I know I can do that, but there's a lot of convenience with being able to access the private members variables for checking that a struct actually gets mutated. The organization is also more appealing to me when thinking about some code and going immediately to the tests.

[2020-04-27 13:26] j4qfrost commented on #424
Read the thread a bit closer. I guess I'll close this. Thanks.

[2020-04-27 13:26] #424 closed

[2020-04-28 16:42] gilescope commented on #420
Interesting. I was hunting around for how to do a textual summary of the coverage myself. I'm sure I've done it before...

[2020-04-28 19:26] TriplEight commented on #249
`grcov` to codecov.io with GitLab CI:
[code]

According to [doc](https://github.com/mozilla/grcov/blob/master/README.md) we have to use these (`CARGO_INCREMENTAL` and `RUSTFLAGS`), however it failed tests with `-Zno-landing-pads`.
I've had significantly better lines discoverability with `cargo-taurpalin` more than 10% coverage difference than with `grcov`, but the former [doesn't work](https://git

[2020-04-29 01:21] TimDiekmann commented on #261
It would also be nice, if one could exclude tests. Every `assert!` results in a partially covered branch. While this is absolutely desired in real code, in tests it isn't.

[2020-04-29 11:10] gilescope commented on #249
Glad to here it works in docker. Could be methodology differences on whitespace treatment or maybe branch versus line? (I am just guessing)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-29 13:34] gilescope commented on #420
I remember I used lcov --summary to get a textual version: https://stackoverflow.com/questions/61386804/how-to-read-only-line-coverage-from-lcov-summary-command-and-store-in-some-she

[2020-05-01 02:44] gifnksm opened #427 "README.md: Command line example does not work with rustc nightly 2020-04-30"
The following command line option no longer works with rustc nightly due to the removal of the `-Zno-landing-pads` option (rust-lang/rust#70175)

[code]

[2020-05-02 10:01] wusyong commented on #427
So is it safe if we just remove `no-landing-pads`? Or we should also add `panic=abour`?

[2020-05-03 04:51] kngwyu commented on #427
Hey guys, I also encountered this issue and removed `no-landing-pads`, resulting in decreased coverage from 58% to 38%.
https://codecov.io/gh/PyO3/pyo3/branch/master/commits?from=2020-04-28%2000%3A00%3A00&to=2020-05-03%2000%3A00%3A00

Any idea?

[2020-05-04 09:06] #261 closed

[2020-05-04 14:17] calixteman commented on #427
Quite strange..., could you file a bug and attached a lcov.info file (if possible the one generated in your CI) ?

[2020-05-04 14:59] calixteman commented on #427
Yep it's safe to remove `no-landing-pads`.
The only problem that we'll some accuracy...
A partial workaround could be to use the new option `--exec-line` with pattern `"^[ \t]*\}[ \t]*$"` to not count lines with only a closing brace (most of the time clean up stuff on stack unwinding is associated with the debug info of the closing element).

[2020-05-04 15:25] calixteman commented on #427
I just read the rustc patch and it seems that `-Cpanic=abort` is (for now) just a renaming.
If I missed something please tell me but using this option should be equivalent to no-landing-pads.

[2020-05-04 19:03] pyoor opened #429 "Error parsing file: "Invalid record""
The following error was identified while running grcov on m-c-20200503214759.

System Info:
Ubuntu 18.04 4.19.34-coreos
grcov v0.5.13
gcov 7.5.0-3

[code]
[Unified_cpp_netwerk_protocol_ftp0.zip](https://github.com/mozilla/grcov/files/4576766/Unified_cpp_netwerk_protocol_ftp0.zip)

[2020-05-04 19:06] calixteman commented on #429
Could you copy here the grcov arguments ?

[2020-05-04 19:50] pyoor commented on #429
We're running it via:

[code]

[2020-05-04 20:00] calixteman commented on #429
I ran `GCOV=gcov-7 ~/dev/mozilla/grcov.calixteman/target/release/grcov Unified_cpp_netwerk_protocol_ftp0.zip -t coveralls --commit-sha d95c612379c3 --token NONE` and there are no problem.
I've the impress that there is an attempt to parse a file with an ELF header. According to the error message we're somewhere in the gcov's output parser.

[2020-05-04 20:38] pyoor commented on #429
This issue appears to only occur for us on gcov 7.5.0.  We're not seeing any of the above errors when using gcov-8.

[2020-05-05 10:12] marco-c commented on #429
@pyoor are you building with GCC 7 or GCC 8?

I wonder how it's possible that Calixte can't reproduce the error and you can :S

[2020-05-05 10:37] calixteman commented on #429
I've the impress that gcov has crashed and we're trying to parse a core dump.
I generated a core dump and `strings` command shows `CORE, IGISCORE` words inside.
Are you running grcov locally or on CI ? if it's the later do you have a log ?

[2020-05-05 11:18] calixteman commented on #427
I managed to run tests for pyo3 in using `-Cpanic=abort -Zpanic_abort_tests` in `RUSTFLAGS`.
The doc tests were failing with that so adding an extra `RUSTDOCFLAGS="-Cpanic=abort"` fixes failures.

[2020-05-05 14:55] pyoor commented on #429
This is running in EC2.  Are you looking for a log from grcov or something else?

[2020-05-05 15:01] calixteman commented on #429
TBH, I don't really know what I'm looking for, so any context would be helpful.
So if you've the logs of all the task to try to understand why gcov may have crashed (if my guess is correct).

[2020-05-05 15:27] calixteman opened #431 "Cannot use gcov 9 with grcov"
We use `gcov - i` and with version 9 it'll output a gzipped json.

[2020-05-05 15:33] marco-c commented on #431
See also #55 (and its duplicate #389).

[2020-05-05 16:36] pyoor commented on #429
[grcov.log](https://github.com/mozilla/grcov/files/4582184/grcov.log)

[2020-05-05 16:42] marco-c commented on #429
The build is from automation, so it's using GCC 7.

[2020-05-05 16:46] marco-c commented on #429
It would help to parse one file at a time, so we can exactly see which file the `Error parsing file` is from. Right now the error is just mentioning the top-level directory where the file is (we should improve this logging, but that's longer term).

[2020-05-05 16:48] calixteman commented on #429
I already saw this error:
https://bugs.launchpad.net/ubuntu/+source/gcc-7/+bug/1725255
So we should catch the gcov error and log it.

[2020-05-05 16:57] marco-c commented on #429
This part of the log is fishy too:

/usr/include/string.h:source file is newer than notes file '/tmp/.tmpuADIyw/dom/ipc/Unified_cpp_dom_ipc1_1.gcno'
(the message is displayed only once per source file)
/tmp/.tmpuADIyw/dom/ipc/Unified_cpp_dom_ipc1_1.gcda:version 'A74*', prefer version 'A75*'
/tmp/.tmpuADIyw/dom/ipc/Unified_cpp_dom_ipc1_1.gcda:profile mismatch for '_ZN7mozilla3dom19JSProcessActorChi

[2020-05-05 17:03] calixteman commented on #429
Does it mean that the code has been compiled with gcc 7.4 and gcov is 7.5 ?
if something changed in the format and is not caught by gcov then it could explain the buffer overflow.

[2020-05-05 17:16] marco-c commented on #429
If I'm not mistaken, the "profile mismatch" errors are due to trying to match some gcda files to the wrong gcno files (e.g. build at revision 1, then build at revision 2, run tests at revision 2 and then try to parse the gcda from revision 2 with the gcnos from revision 1)

[2020-05-05 17:26] calixteman commented on #429
@pyoor could you attach `Unified_cpp_dom_ipc1_1.gcda` and `Unified_cpp_dom_ipc1_1.gcno` files ?

[2020-05-05 18:33] pyoor commented on #429
[Unified_cpp_dom_ipc1.zip](https://github.com/mozilla/grcov/files/4582960/Unified_cpp_dom_ipc1.zip)

[2020-05-05 18:34] pyoor commented on #429
When I run grcov on those files directly I see:

[code]

[2020-05-05 18:42] calixteman commented on #429
It's a gcov issue: unzip this file and just run `gcov -i Unified_cpp_dom_ipc1.gcno`, you should have the same error as above.
I've gcov 7.5 on my machine and everything is fine with either grcov or gcov.

[2020-05-05 19:15] rivy commented on #427
So, when fixing the problem by dropping `-Zno-landing-pads` and adding `-Cpanic=abort -Zpanic_abort_tests` to `RUSTFLAGS` and setting `RUSTDOCFLAGS="-Cpanic=abort"`, does coverage drop?

Currently, to avoid problems or code coverage drops, my workaround for [uutils/coreutils](https://github.com/uutils/coreutils) is pinning the rust version to the last working toolchain (`nightly-2020-04-29`) for c

[2020-05-05 19:31] calixteman commented on #427
@rivy please make a try.
I made the change this afternoon for an other project:
https://codecov.io/gh/calixteman/dump_syms/commits
and it's ok.

[2020-05-05 19:42] rivy commented on #427
@calixteman , Ok, will do ...

[2020-05-06 07:30] kngwyu commented on #427
@calixteman

The doc tests were failing with that so adding an extra RUSTDOCFLAGS="-Cpanic=abort" fixes failures.

Great, thank you for investigating that!

[2020-05-06 08:20] calixteman commented on #429
I ran bionic in docker, install gcc-7 package and ran `gcov -i Unified_cpp_dom_ipc1.gcno` and I get:
[code]
So the bug reported here: https://bugs.launchpad.net/ubuntu/+source/gcc-7/+bug/1725255 is probably the same as yours.

[2020-05-06 08:20] #429 closed

[2020-05-06 08:22] calixteman opened #432 "Catch gcov crashes"
For example:
https://github.com/mozilla/grcov/issues/429

We should try to catch the crash and then display an informative error message.

[2020-05-06 11:37] #427 closed

[2020-05-07 12:45] timgabets opened #433 "Specify in the documentation that Nightly (or RUSTC_BOOTSTRAP) are required for `Z` options"
Hi there,

I've tried to use grcov to generate the coverage report for my project (I'm using stable Rust)

I've set the environment variables as it's written in README:
[code]
…but when trying to build my code I see this:
[code]
I've tried to remove all the Z options, and build my project again, but as I see, there is not .gcno files produced in target/debug/deps/

The question is - is it possible

[2020-05-07 12:49] calixteman commented on #433
Yep normally it's a nightly feature.
But you should be able to use stable with env: `RUSTC_BOOTSTRAP=1`

[2020-05-07 22:21] allevo opened #434 "Unexpected uncovered line"
Hi!
I'm trying to create a coverage report for my project. This crate works well: it's amazing! thanks!

Anyway there're some unexpected behaviour for some rows.
The following lines are my `main.rs`
[code]

From my point of view, all lines are covered except `main` function. But the coverage report considers those two lines as uncovered
![image](https://user-images.githubusercontent.com/1054125/81

[2020-05-08 10:24] cdbrkfxrpt opened #435 "Output a readable error message when the selected output file is not a file"
when i run the example from README with the lcov flag (which is the default), the following happens:
[code]
i get the same output when i specify `-t lcov` explicitly. it runs fine with the `-t html` flag

[2020-05-08 10:29] marco-c commented on #435
It's because the output file should be a file, you are instead passing a directory. I guess we can use a better error message here.

[2020-05-08 10:54] calixteman commented on #434
Because of `#[cfg_attr(test, derive(Clone))]`.
In fact it adds some code associated with the two lines (I mean debug info for the added code corresponds to above lines).

[2020-05-08 11:21] allevo commented on #434
Hi! thanks the the reply.
I don't understand:
- my code should run as `test` as target, so the `cfg_attr` should be "true" (tests clone the `Printer` struct)
- the `say` property is used in the test and in the code

[2020-05-08 11:52] cdbrkfxrpt commented on #435
thanks, it didn't occur to me trying to specify the lcov.info as output - i thought the behaviour would be the same for html and lcov both. perhaps there is an ergonomic improvement to be had here, too.

[2020-05-08 13:08] #435 closed

[2020-05-09 18:31] Minoru opened #438 "grcov reports zero coverage for a test that *did* run"
This is a weird regression that I only see on Travis. I couldn't reproduce this locally.

After I replaced `-Zno-landing-pads` as per #428, Coveralls started showing me zero coverage for a test in an otherwise-covered module: https://coveralls.io/builds/30658558/source?filename=rust%2Fstrprintf%2Fsrc%2Fspecifiers_iterator.rs#L116 Yet Travis tells me that the test *did* run, and finished ok: https:

[2020-05-11 10:54] marco-c commented on #438
With the same options (-Cpanic=abort and so on) you are using on CI?

[2020-05-11 11:57] calixteman commented on #438
I can't reproduce the error locally.
And https://coveralls.io/builds/30658558/source?filename=rust%2Fstrprintf%2Fsrc%2Fspecifiers_iterator.rs#L48 gives the impress that the test really didn't run.
If you manage to reproduce consistently the issue on CI, maybe you could add a `println!(...)` in the test and add `-- --nocapture` to `cargo test` to check if the test is really ran.
It's very weird.

[2020-05-11 15:59] Minoru commented on #438
Yes.

[Done](https://github.com/newsboat/newsboat/pull/924/commits/b1cee51c4bbe8160ac0910a41c0be01a1feb8e96#diff-1fdaecbe7d078fcd7aa6144ca0e19d1eR117). The test [definitely ran](https://travis-ci.com/github/newsboat/newsboat/jobs/331917717#L1503-L1505), and [the coverage went back up](https://coveralls.io/jobs/62513827/source_files/449610260#L116) =\

I then reverted my test commit and ran the job

[2020-05-11 16:09] calixteman commented on #438
I think you should file a bug on cargo instead I'm pretty sure that the test didn't run which is pretty bad (if I'm correct of course).

[2020-05-11 17:47] Minoru commented on #438
While preparing a report for cargo repo, I noticed that `-Cinline-threshold` was replaced by `-Copt-level` in the README here, so I applied these changes to my repo as well, and [the issue went away](https://coveralls.io/builds/30705976/source?filename=rust/strprintf/src/specifiers_iterator.rs). Since #411 doesn't contain any rationale, I have no idea if it's just a coincidence, or if `opt-level`

[2020-05-11 17:47] #438 closed

[2020-05-12 11:55] e00E commented on #433
This should be explained in the Readme as the current text doesn't mention nightly so it is confusing that the instructions don't work.

[2020-05-12 13:26] HuangSSShihua commented on #434
I am currently facing the same issue. In the codecov report, a 200+ line code gives 110+ functions and 150+ branches...... and yes I have checked those unexpected functions and branches coming from the attributes.
So is it possible to skip those attributes when generating reports?

[2020-05-12 14:20] calixteman commented on #434
You can remove `-Clink-dead-code` from rustc flags.
This option can help to detect dead code but I'd say that the compiler is able to detect (and emit a warning) unused functions in almost all the cases.
So please give it a try and give some feedback here.

[2020-05-13 11:05] HuangSSShihua commented on #434
This is the result with `-Clink-dead-code`
![image](https://user-images.githubusercontent.com/33181613/81802565-a186b300-9516-11ea-9284-29eda1f88ff5.png)
This is the result without `-Clink-dead-code`
![image](https://user-images.githubusercontent.com/33181613/81802716-ddba1380-9516-11ea-8f56-d20a07953b1c.png)
But yes some attributes like `Debug` is still counted.

Besides, Im not sure what is the

[2020-05-13 11:19] Veetaha opened #444 "Missing linux binaries in 0.5.15 release"
There are no linux binaries in this [github release](https://github.com/mozilla/grcov/releases/tag/v0.5.15)...

[2020-05-13 11:49] marco-c commented on #444
Thanks, there was an intermittent failure that prevented the deployment task to finish. I've rerun it now and the binaries have been uploaded.

[2020-05-13 11:49] #444 closed

[2020-05-14 08:25] lclc commented on #390
I run into the same problem, but was able to solve it. I also use GitLab CI (and took some inspiration from @amyspark ci file, thanks for that). Maybe this helps:

I got it working with the following commands on OSX:
[code]

In my .gitlab-ci.yml I have the following code for adding the coverage % to GitLab and to push to codecov.io:

[code]

[2020-05-14 22:27] remidargent opened #445 "Support showing branch coverage in the html report"
I used the options `--branch` and `-t html` to generate the html report but the branch information is missing from the report.

There is only **Lines** and **Functions** information.

Note: the branch coverage is available if exporting to lcov, then using genhtml.

The version I use is grcov 0.5.15

[2020-05-15 00:44] amyspark commented on #390
@lclc thanks so much for your alternative! [It works!](https://framagit.org/amyspark/rattx/-/jobs/993386)

[2020-05-18 10:01] marco-c commented on #433
It's a bit out of scope, as it's a Rust thing, but I'm OK with adding this to the README to avoid confusion.

[2020-05-18 10:02] marco-c commented on #445
Thanks, that'd be a nice feature to add, PRs welcome!

[2020-05-18 11:39] calixteman commented on #445
The code for html output is here: https://github.com/mozilla/grcov/blob/master/src/html.rs

[2020-05-19 20:56] marco-c commented on #390
I wonder what the problem was exactly.

[2020-05-19 21:33] amyspark commented on #390
@marco-c I truly don't know. I had a look at `cargo-cov` again and [they set the same variables](https://github.com/kennytm/cov/blob/master/cargo-cov/src/shim.rs) as @lclc . Plus, their own `cargo cov report` works as expected.

[2020-05-21 08:56] lclc commented on #390
If I remember it correctly I had to add cargo test, before that it was empty.

On a site note: The GitLab regex for test coverage I changed from lines to functions, because codecov uses functions.

`^\s+functions\.+:\s+([\d.]+\%)\s+`

[2020-05-27 20:10] #302 closed

[2020-06-06 04:15] zbraniecki opened #450 "Rust struct lines are counted as "missing""
We started using github actions with grcov for ICU4X and we struggle with a high number of lines that are marked as not covered.

Example: https://coveralls.io/builds/31270593/source?filename=components/locale/src/locale.rs

In this file the first line of the file is marked as uncovered and the struct is marked as such as well accounting for all 7 uncovered lines.
Same thing applies to basically a

[2020-06-06 05:47] redtankd opened #451 "Why grcov count function more than once ?"
For these codes, grcov count 8 functions in total and 3 functions hit. test_student() is excluded by me. Actually, only new() is hit. get_id() and get_grade() are not tested. I thought that there be 3 functions in total and 1 function hit.

Why?

[code]

[2020-06-06 10:07] calixteman commented on #450
I can't see the source code with the above link.

[2020-06-06 10:17] zbraniecki commented on #450
Agh, weird. It does show `source not available` when you're not logged in. I reported it in https://github.com/lemurheavy/coveralls-public/issues/1456

Here's a screenshot:

![Screenshot_2020-06-06 Coveralls io - Test Coverage History and Statistics](https://user-images.githubusercontent.com/449986/83941955-45751e80-a7a4-11ea-9ae8-0535a1a2dfdd.png)

[2020-06-06 11:01] calixteman commented on #450
The problem is that some code is added for Debug stuff (because of `derive(Debug)`) and the debug info for this extra code come from the struct definition itself.
So on the llvm's side there are some block associated with lines coming from the struct definition.
You can see that in generating llvm ir or in inspecting dwarf from the debug binary.
So it appears that in your tests you never call Loca

[2020-06-06 11:30] calixteman commented on #451
I agree with you.
Could you give us a way to reproduce please ?
Anyway in inspecting the llvm ir for this code, I see 5 functions, new, get_id, get_grade, test_student and a closure for test_student. So I don't know how you can get 8 functions.

[2020-06-07 00:45] redtankd commented on #451
The attachment is my crate.  [code-coverage.zip](https://github.com/mozilla/grcov/files/4741225/code-coverage.zip)

My OS is macOS 10.15.5

My env is

[code]

`-Cpanic=abort` doesn't work for dylib, so I remove it.

The steps are

[code]

From the report I find 8 functions for src/stud/student.rs.

[code]

[2020-06-07 06:01] redtankd opened #452 "For html output type, the binary's coverge isn't merge into top level in a library crate"
My binaries are in src/bin directory, which are not defined in cargo.toml. The binaries' coverge are generated in the their index.html.

[2020-06-09 07:11] fbs2016 opened #453 "How to generate one html report only for multiple source files under different foders?"
The project include some sub-folder with source files, the index.html in the root folder just include the report about the source files in the root source folder, which doesn't include the report about the source file in the sub-folder.
How to get a overall report in a index.html which includes every source file with sub-folder structure?
Run result:
[prj]$ls root
html  main.d  main.gcda  main.gcn

[2020-06-12 10:03] marco-c commented on #450
Another option could be to use the feature added in https://github.com/mozilla/grcov/pull/416#issuecomment-612562052 (perhaps we should add an example to the README).

[2020-06-13 23:01] Ryan1729 opened #454 "Why does this example have only 75% function coverage?"
If I follow the instructions in the README to generate a coverage report on the following code then I get 100% line coverage as expected, but only 75% function coverage.
[code]
Specifically it says 3 functions were hit out of a total of 4. Why does that happen? What function is not being hit?

I'm guessing that rust's thin runtime exports a function that is not being run here. If that is the case,

[2020-06-14 20:21] rdimartino commented on #178
I think is a duplicate of #332

[2020-06-17 00:03] #178 closed

[2020-06-24 13:28] #445 closed

[2020-06-27 06:35] EFanZh opened #462 "Running on Windows is broken because of symlink usage"
To reproduce, run the following code with cmd:

[code]

There is no coverage on the report. Also, I have noticed that if I use `nightly-gnu` instead of `nightly`, the result is correct. Maybe the `-Zprofile` is not supported for msvc target?

System informantion:

- Compiler: rustc 1.46.0-nightly (50fc24d8a 2020-06-25)
- OS: Windows 10 version 2004 (OS Build 19041.329)

[2020-07-06 19:17] FreeMasen opened #466 "UTF8 panic"
I am getting a panic when trying to parse the version.
[code]
[panic location](https://github.com/mozilla/grcov/blob/master/src/reader.rs#L206)

Here are my rustc, cargo and grcov versions:

[code]

It looks like this is probably happening in the gcda file as the version string doesn't seem to match the expected `*` after `adcg`. If nothing else it would be nice to actually report the error instea

[2020-07-12 02:43] xxchan opened #467 "Unexpected uncovered lines"
https://coveralls.io/builds/32005412/source?filename=zircon-object/src/object/mod.rs
`RUSTFLAGS: '-Zprofile -Ccodegen-units=1 -Copt-level=0 -Coverflow-checks=off'`

<img width="295" alt="1" src="https://user-images.githubusercontent.com/37948597/87237715-43018680-c42c-11ea-9a5b-2ae9ee4472ed.png">

<img width="455" alt="2" src="https://user-images.githubusercontent.com/37948597/87237716-45fc7700-c4

[2020-07-12 05:10] TheButlah opened #468 "Generate coverage output for Gitlab/Cobertura?"
Would it be possible to add support for generating Cobertura xml coverage reports? [Gitlab's coverage reporting](https://docs.gitlab.com/ee/user/project/merge_requests/test_coverage_visualization.html) uses Cobertura's format.

It appears as though [tarpaulin supports cobertura](https://github.com/xd009642/tarpaulin#pycobertura), so it would be good if `grcov` could too.

[2020-07-14 13:16] marco-c commented on #468
Sure, I won't have time to implement it myself in the near term, but I'd be happy to review a PR to add support for it.

[2020-07-17 22:12] SWW13 commented on #451
Demangling the functions clears this a bit up:
[code]

The functions hit are `test_student`, a closure in `test_student` (which is most likely related to `assert_eq!`) and `Student::new`.
My guess for the duplicate functions is a `cargo build` which generated another binary (without test code).

[2020-07-23 09:21] DashYang opened #471 "Error in computing counters: Unexpected version: R37A what does it mean?"
after compiling and executing test
I run like grcov ./ -s . -t lcov --llvm --branch --ignore-not-existing  -o app.info
but got
09:11:35 [ERROR] Error in computing counters: Unexpected version: R37A in XXXXXXX
what does it mean?

[2020-08-05 17:49] thomcc opened #476 "For Rust projects, many lines are marked as partial hits that ideally would not be."
I'm not really sure if y'all have anything you can do about this, but we're using grcov to produce coverage in https://github.com/mozilla/application-services, and we're having some issues getting more accurate coverage information.

Specifically:

1. `assert!` and such are considered partial hits by the coverage output by grcov unless you have code that both causes it to pass and fail. (We also h

[2020-08-05 22:24] thomcc commented on #476
Hm, it looks like we can solve these issues to our satisfaction by disabling branch coverage. This is a bit unfortunate, but also makes sense.

That said, I stand by my statements: `assert!` or `log::foo!` don't really feel like they should count as partially-covered branches, and while `?` is a lot more debatable, given how it's used in most rust code, IMO it's very unclear those branches should

[2020-08-14 01:44] #390 closed

[2020-08-23 19:06] GrayStrider opened #481 "Add a clear error message when output fails if directory doesn't exist"
[code]
I'll create directory manually for now

[2020-08-25 20:41] grahamdyson commented on #476
i've added the following CLI option to avoid the branch coverage problem when using the assert equal macro `--excl-br-line assert_eq!`. I expect it would work for assert too  `--excl-br-line assert!`

[2020-08-28 23:41] #466 closed

[2020-09-02 13:05] ko1N opened #483 "Subfolder will be missed in reports if it has the same name as the root folder"
In my current Rust project I have a workspace that contains a multiple sub-crates.

The git repository is named "memflow" (and so is my folder on disk) and one of the crates inside the project workspace is also named "memflow". In this case grcov will skip over the entire memflow crate for me and not provide any coverage on it whatsoever.

If i rename the root folder on disk to something like memf

[2020-09-05 05:26] Fullstop000 opened #484 "How to exclude #[cfg(test)] mods"
I found that grcov will count the test coverage in mods with `#[cfg(test)]`. Is there any way to exclude such testing mods?

[2020-09-05 09:29] Minoru commented on #484
This is a duplicate of #424, please see responses to that issue.

[2020-09-05 20:31] thomcc opened #485 "`grcov` calls `gcov` with args that (macOS Catalina's) `gcov` does not support"
Trying to use `grcov` the way I used to on my old machine (which was macOS Mojave) produces a bunch of errors like:

[code]

`gcov` on my path is `/usr/bin/gcov`, which is a symlink to `'/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/gcov`, e.g. the one that came with Xcode. I'm guessing this version of gcov is bad or wrong somehow? Or maybe the fact that it

[2020-09-06 02:55] #484 closed

[2020-09-06 16:15] rivy commented on #476
I'm now using `--excl-br-line "^\s*((debug_)?assert(_eq|_ne)?!|#\[derive\()"` in [uutils/coreutils](https://github.com/uutils/coreutils).

[2020-09-13 05:12] brycefisher commented on #468
@TheButlah I just ran into the same thing myself! There is actually this Python project that converts from lcov to cobertura:
https://github.com/eriwen/lcov-to-cobertura-xml

Since I'm using the (un"slim") official Rust docker image on GitlabCI, Python 3 is already available. Right after running `grcov`, I added these lines in the `script` block, and cobertura seemed to work:

[code]

This solves

[2020-09-28 11:07] mchernyavsky commented on #485
@thomcc Not sure, but maybe adding the `--llvm` flag might help.

[2020-10-05 14:36] #138 closed

[2020-10-05 15:53] marco-c commented on #485
Does it work with the `--llvm` flag?

[2020-10-05 15:58] thomcc commented on #485
I don't remember what project I was doing this for, but on a dummy project it does seem to fix it.

It might be worth noting adjusting the documentation/help text, since it currently describes the `--llvm` flag as:

[code]

So I didn't think to try it (okay, I actually forgot it was there, but yeah, it certainly seems to do more than just speed up parsing).

[2020-10-05 16:08] marco-c commented on #485
It is actually meant to only speed up parsing by skipping a check: https://github.com/mozilla/grcov/blob/4452aae8c5f6d648787b13bf384058d8e4f1956b/src/producer.rs#L75.
Maybe the check is failing with a newer version of LLVM.

Would you mind uploading a zip with your gcno/gcda files?

[2020-10-13 20:17] zbraniecki opened #494 "grcov doesn't work with proc macros"
In https://github.com/unicode-org/icu4x/pull/331 we faced an issue where grcov failed because we have a proc macro crate.

It shows as:
[code]

[2020-10-14 13:42] marco-c commented on #494
@zbraniecki I assume you have `-Cpanic=abort -Zpanic_abort_tests` in RUSTFLAGS?

[2020-10-14 14:37] zbraniecki commented on #494
I did, and had to remove them to make the grcov work with proc macros.

[2020-10-14 19:30] #332 closed

[2020-10-17 10:52] howardmoore commented on #462
I've seen the same issue. I initially wondered if it was due to the use of --llvm, as I was linking with the MSVC linker, but removing that flag resulted in grcov reporting errors. Eventually I found that removing the -Cpanic=abort rustflag solved the problem. I also found I had to turn off control flow guard or my instrumented application crashed with a stack buffer overflow.

[2020-10-17 13:41] dunnock commented on #494
Faced similar issue and after suggestion https://github.com/rust-lang/rust/issues/78011 following has worked for me:

Extending my workspace's `Cargo.toml` has helped:
[code]

Then I am able to collect code coverage metrics with a following command:
[code]

Note: we have to comment out above lines in Cargo.toml when compiling on rust-stable.

[2020-10-20 06:49] gilescope opened #496 "Improvement: multiple output types"
Would love to have json and html output without invoking twice.

[2020-10-20 07:21] gilescope opened #497 "Improvement: output type wasm"
Bear with me, this is one of the more far out ideas!

One of CI systems woes is that the html coverage generated is usually quite large even zipped.

Just an idea but with web assembly we might be able to compress that data into a wasm file and then decode it on the fly as they select a file - i.e. present the coverage data as a single page application.

That would keep the file size managable. An

[2020-10-21 11:00] gilescope commented on #494
We should mention this on the readme as proc-macros are not uncommon!

[2020-10-22 22:22] tylerhawkes commented on #483
I'm seeing the same thing with a properietary repo.

[2020-10-23 12:23] lu-zero opened #498 "Add a Text/Markdown output"
It would be nice to have an output that's readable from the shell.

[2020-10-26 18:22] incker opened #500 "Update major versions of dependencies"
Dependencies that can be updated

    [dependencies]
    simplelog = "0.8"
    quick-xml = "0.20"
    zip = "0.5"
    semver = "0.11"
    crossbeam = "0.8"

[2020-10-27 07:55] royb3 commented on #468
@brycefisher Does it work fine with Gitlab CI? What about function name mangling?

[2020-10-27 17:24] brycefisher commented on #468
It does!! It works great. You can see test code coverage within the merge request UI...kind of awesome!

Not my ideal solution (and adds a dependency to use Python for testing an otherwise pure Rust project), but its a decent workaround for the moment.

RE: function name mangling, I've only worked with pure Rust -- no extern "C" style FFI or anything. Do you have a good test case in mind that woul

[2020-10-29 16:21] kennetpostigo opened #501 "Coverage misses on derive and struct fields"
I've been using `grcov` recently and noticed that I was getting coverage misses here:
![image](https://user-images.githubusercontent.com/8888991/97601649-c72e4880-19e0-11eb-93a8-08014a5471dd.png)

I was hoping other folks ran into this and if there was any solution to getting `grcov` to pick up coverage an on `derive` and also my struct.

If there are any solutions or work arounds that folks have

[2020-10-29 16:27] sylvestre commented on #501
How it started:
https://twitter.com/kennetpostigo/status/1321849654183632896

[2020-10-30 11:29] sylvestre commented on #500
@incker could you please submit a PR ?
For zip, please see:
https://github.com/mozilla/grcov/pull/472

[2020-11-01 02:44] Sibz opened #502 "Project compile fails when trying to run tests for coverage"
Originally opened an issue with intellj rust plugin as it was failing to run code coverage after following their setup instructions and using the integrated 'run tests with coverage' button.

They have checked and found it to be an issue on the grcov side.

Full details included steps to reproduce in that issue here:
https://github.com/intellij-rust/intellij-rust/issues/6325

[2020-11-03 11:42] marco-c commented on #502
If it is a compilation error, it is a bug in Rust itself, rather than grcov. grcov runs *after* the program is compiled and *after* the tests run.
Can you open an issue on the Rust repository?

[2020-11-03 11:42] #502 closed

[2020-11-03 11:43] marco-c commented on #500
I wonder why Dependabot is not submitting PRs for those dependencies :S

[2020-11-03 11:47] marco-c commented on #500
Ah-ha! It looks like Dependabot was failing to run...
It submitted some PRs now, but not for `simplelog`:
[code]

[2020-11-03 11:47] #500 closed

[2020-11-03 11:53] marco-c commented on #501
Unfortunately this is a known problem, but there is a partial workaround that you could use (see #476 and #416).

[2020-11-03 11:53] #501 closed

[2020-11-03 11:54] marco-c commented on #450
This is older than #476, but that one has more details and a possible workaround, so I'll mark this as duplicate of #476.

[2020-11-03 11:54] #450 closed

[2020-11-03 11:56] marco-c commented on #476
Just FYI, here's the explanation for this: https://github.com/mozilla/grcov/issues/450#issuecomment-640039459.

@jcdickinson implemented those `excl` options exactly for this in #416, to fix #261.

[2020-11-03 11:59] marco-c commented on #471
Sorry for the delay @DashYang. What were you trying to parse with grcov? Was it coverage output from a C/C++ binary? What compiler did you use to build the binary?

[2020-11-08 10:51] FibreFoX opened #508 "Does not work on Raspberry Pi inside docker container "compiler may have been built without the profiler runtime""
I am new to the Rust ecosystem, but as part of my own learning curve, I wanted to create a small personal project which includes test coverage executed on my raspberry pi server.

My setup contains a self-hosted Gitlab-instance (which runs inside docker) running on a 32-bit based Raspbian on my Raspberry Pi 4 (with 8gb RAM). After some hours of trying to get grcov working I tried to reproduce my p

[2020-11-10 15:45] zbraniecki opened #509 "Use the new Rust code coverage instrumentation for improved coverage"
Rust just merged code coverage instrumentation that I believe would vastly improve the accuracy of results - https://www.reddit.com/r/rust/comments/jrlnfk/llvm_code_coverage_instrumentation_pr_merged/

[2020-11-12 10:20] marco-c commented on #509
\o/

We definitely need to add support for it.

[2020-11-16 13:58] BenChand commented on #433
Please mention this in the Readme!

[2020-11-21 00:53] mleonhard commented on #260
I had this problem with `rustc 1.49.0-nightly (ffa2e7ae8 2020-10-24)`.  It went away after:
1. `cargo clean`
1. `rm -rf target/`
1.  restarting my editor (CLion)

[2020-11-23 17:21] marco-c opened #513 "Ensure the version of LLVM used to generate profraw files is the same as the version of the llvm tools used to parse them"
See https://github.com/mozilla/grcov/pull/512#discussion_r528863424.

We should print an error message in those cases to avoid failing silently.
This is important when the machine used to build and run tests is not the same as the machine used to parse the coverage artifacts.

[2020-11-23 17:21] marco-c opened #514 "Fallback on system's llvm tools if the Rust llvm-tools component is not installed"

[2020-11-23 17:22] #509 closed

[2020-11-23 17:22] marco-c opened #515 "Use source-based code coverage in our CI"

[2020-11-23 17:36] marco-c opened #517 "Update crossbeam dependency"
See https://github.com/mozilla/grcov/pull/505.

[2020-11-23 17:39] marco-c opened #519 "Upload both a source-based coverage report and a gcov-based one"
So we can check differences.
For example, we could upload one to codecov.io and one to coveralls.io.

[2020-11-23 18:06] #517 closed

[2020-11-23 21:05] #433 closed

[2020-11-24 00:11] #515 closed

[2020-11-24 00:14] marco-c commented on #471
Closing for lack of response, but feel free to reopen if you have time to reply.

[2020-11-24 00:14] #471 closed

[2020-11-24 10:46] marco-c commented on #509
This is now supported, short explanation at https://marco-c.github.io/2020/11/24/rust-source-based-code-coverage.html, docs at https://github.com/mozilla/grcov#example-how-to-generate-source-based-coverage-for-a-rust-project, full example at https://github.com/marco-c/rust-code-coverage-sample.

[2020-11-24 10:47] marco-c commented on #476
You could try source-based coverage, I've recently added support for it in grcov (version 0.6.0). Short explanation at https://marco-c.github.io/2020/11/24/rust-source-based-code-coverage.html, docs at https://github.com/mozilla/grcov#example-how-to-generate-source-based-coverage-for-a-rust-project, full example at https://github.com/marco-c/rust-code-coverage-sample.

[2020-11-24 10:47] marco-c commented on #261
You could try source-based coverage, I've recently added support for it in grcov (version 0.6.0). Short explanation at https://marco-c.github.io/2020/11/24/rust-source-based-code-coverage.html, docs at https://github.com/mozilla/grcov#example-how-to-generate-source-based-coverage-for-a-rust-project, full example at https://github.com/marco-c/rust-code-coverage-sample.

[2020-11-24 10:48] marco-c commented on #467
You could try source-based coverage, I've recently added support for it in grcov (version 0.6.0). Short explanation at https://marco-c.github.io/2020/11/24/rust-source-based-code-coverage.html, docs at https://github.com/mozilla/grcov#example-how-to-generate-source-based-coverage-for-a-rust-project, full example at https://github.com/marco-c/rust-code-coverage-sample.

[2020-11-24 10:49] marco-c commented on #467
I know this is older than #476, but that one has more details and a possible workaround, so I'll mark this as duplicate of #476.

[2020-11-24 10:49] #467 closed

[2020-11-24 10:50] marco-c commented on #434
I know this is older than #476, but that one has more details and a possible workaround, so I'll mark this as duplicate of #476.

BTW, you could try source-based coverage now, I've recently added support for it in grcov (version 0.6.0). Short explanation at https://marco-c.github.io/2020/11/24/rust-source-based-code-coverage.html, docs at https://github.com/mozilla/grcov#example-how-to-generate-so

[2020-11-24 10:50] #434 closed

[2020-11-24 10:53] marco-c commented on #260
The main bug has been fixed here by the same fix as for #262 (that is, #264).

Some of those problems could be fixed by source-based coverage, I've recently added support for it in grcov (version 0.6.0). Short explanation at https://marco-c.github.io/2020/11/24/rust-source-based-code-coverage.html, docs at https://github.com/mozilla/grcov#example-how-to-generate-source-based-coverage-for-a-rust-pr

[2020-11-24 10:53] #260 closed

[2020-11-24 10:54] marco-c commented on #249
You could try source-based coverage, I've recently added support for it in grcov (version 0.6.0). Short explanation at https://marco-c.github.io/2020/11/24/rust-source-based-code-coverage.html, docs at https://github.com/mozilla/grcov#example-how-to-generate-source-based-coverage-for-a-rust-project, full example at https://github.com/marco-c/rust-code-coverage-sample.

[2020-11-24 10:55] marco-c commented on #494
I think proc-macros are supported by source-based coverage, I've recently added support for it in grcov (version 0.6.0). Short explanation at https://marco-c.github.io/2020/11/24/rust-source-based-code-coverage.html, docs at https://github.com/mozilla/grcov#example-how-to-generate-source-based-coverage-for-a-rust-project, full example at https://github.com/marco-c/rust-code-coverage-sample.

[2020-11-24 10:56] marco-c commented on #454
I'm pretty sure this is the same as #476.

You could try source-based coverage, I've recently added support for it in grcov (version 0.6.0). Short explanation at https://marco-c.github.io/2020/11/24/rust-source-based-code-coverage.html, docs at https://github.com/mozilla/grcov#example-how-to-generate-source-based-coverage-for-a-rust-project, full example at https://github.com/marco-c/rust-code-cov

[2020-11-24 10:56] #454 closed

[2020-11-24 10:59] marco-c commented on #326
@gilescope would you still be interested in contributing?

[2020-11-24 11:45] gilescope commented on #326
I think it's high time this was done and I've got some time on my hands. I've done similar in other places but really having it in one place would be excellent. I can start with a straw man PR and we can iterate from there?

[2020-11-24 11:47] gilescope commented on #326
(unless you've got a burning desire to have a crack yourself @marco-c  - I'm good with that too. I'd be just as happy testing a PR out and giving feebdback.

[2020-11-24 12:51] marco-c commented on #326
@gilescope that'd be great, thanks!

I'm happy to just review ;)

[2020-11-25 08:58] gilescope commented on #326
Ok here's my take on things: I don't think that one command is enough. I think two are required:

[code]

`grcov-build` sets up the environment variables for invoking `rustc` correctly so that coverage data is generated. I suspect we don't need to do a full cargo clean before hand, but probably should delete existing coverage files (and old reports?) in the target dir. It would invoke whatever's a

[2020-11-25 10:54] marco-c commented on #326
Having two separate commands sounds good to me, as many projects might have different needs than just running `cargo test`. As you said, some will run `pytest`. Some others might not even run automated tests but collect coverage for manual test runs.

I'd only do one thing differently: if `cargo grcov-report` is run when no build and no coverage artifacts are available, it should automatically run

[2020-11-25 15:55] gilescope commented on #326
I like the idea of that. Would one run `cargo test` with no parameters in that case?

[2020-11-26 11:54] ErikBjare opened #520 "Source-based coverage doesn't support branch coverage"
Hi there, nice job with grcov!

We've been having some issues with coverage for our project (probably not grcov's fault), and when I was working on fixing it I discovered the new source-based coverage, which looked like the way forward (given you use it youself in your CI). So I adopted it, but noticed branch coverage was 0/0. (the PR in question: https://github.com/ActivityWatch/aw-server-rust/pu

[2020-11-26 12:33] gilescope opened #521 "CI should build all targets?"
Looks like cargo bench is broken on master (due to a crossbeam upgrade most likely).
If the CI was building all-targets this would be picked up.

[2020-11-26 13:49] marco-c commented on #521
Yeah, we should at least build them as part of CI!

[2020-11-26 15:39] gilescope commented on #326
I see these new `.profraw` files appearing in the root. I'm going to try setting PROFDATA_DIR so that they're generated inside the CARGO_TARGET_DIR as I think it's unhygenic for generated files to be produced outside the target dir (I like `cargo clean` to delete all the generated stuff).

[2020-11-26 21:25] marco-c commented on #326
Yep.
Thinking on it a bit more, I think we could support the following commands:
- `cargo grcov env -- BUILD_COMMAND` to setup the coverage env variables and run a user-defined command to build;
- `cargo grcov build` to setup the coverage env variables and run `cargo build`;
- `cargo grcov test` to setup the coverage env variables, run tests with `cargo test` and then parse resulting coverage arti

[2020-11-26 21:38] marco-c commented on #520
Support for branch coverage in LLVM and Clang is hopefully going to be added soon, https://reviews.llvm.org/D84467. I think it will need porting to Rust before it can be used.

In the meantime, it might be possible to extrapolate branch coverage from region coverage, even though branch coverage would offer additional information (e.g. how often a given subcondition in an expression was hit) that r

[2020-11-26 23:28] marco-c commented on #485
It'd be great if you could test again after #522 lands.

[2020-11-26 23:44] marco-c commented on #508
You need the Rust profiler runtime, I don't know if it's available for armv7-unknown-linux-gnueabihf, maybe you need to have a custom Rust build.

[2020-11-26 23:45] marco-c commented on #508
I imagine the same happens with source-based coverage, `-Zinstrument-coverage` instead of `-Zprofile`?

[2020-11-27 10:11] gilescope commented on #326
Obviously I'm keen on as little configuration as we can get away with, but I suspect we might need a few arguments. Do we aim for as detailed coverage as we can do (i.e. source level if the llvm_tools rustup component is available/installed)?

If we take `cargo grcov build` as an example, do we pass almost all parameters on to `cargo build` but if there are grcov specific parameters then we'd pars

[2020-11-27 11:07] marco-c commented on #326
I was thinking the first option, but maybe the second more clearly splits the grcov arguments from the `cargo build` arguments.

[2020-11-27 12:00] gilescope commented on #326
What about +nightly ? If it's good enough for cargo then I guess we can have `cargo grcov --setting build *cargo-build-params*` but maybe '--' is less surprising. Let's try '--' and see how that looks.

[2020-11-27 14:38] marco-c opened #525 "Handle overflows in counters"
Revert 155c73f05c67f173c75946b07e22b9d53f65d647, and correctly handle overflows in counters (apparently there are lines which are hit many many times).

[2020-11-27 14:43] marco-c commented on #525
STR:
[code]

[2020-11-27 14:59] marco-c commented on #525
This shows something is wrong with counters:
[code]
N.B.: `grcov-13778df2ccd171b3` should be the binary that is run as part of cargo test.

You will see some lines which have unexpectedly high counts, such as `DA:119,18446744073709551615`.

[2020-11-27 15:02] calixteman commented on #525
The number `18446744073709551615` is `(1 << 64 - 1)` so it looks like it's a `int64(-1)` casted into a uint64.

[2020-11-27 15:52] calixteman commented on #485
@thomcc could you attach the gcno/gcda files here, so we can test the new reader ?

[2020-11-27 16:10] thomcc commented on #485
[code]

[arcstr_gcno_gcda.zip](https://github.com/mozilla/grcov/files/5608728/arcstr_gcno_gcda.zip)

This is from this project: https://github.com/thomcc/arcstr

<details>
<summary>To confirm the issue still exists in latest grcov, I tried running it without the LLVM arg:</summary>
<pre>
$ grcov ./target/debug -s . -t html --ignore-not-existing -o ./target/debug/coverage
16:06:52 [ERROR] Error whe

[2020-11-27 19:52] FibreFoX commented on #508
yes, it seems to be the same:
[code]

@marco-c As I am new to Rust, can you point me to some instructions how to crete my own custom Rust build?

In the meantime I will check against current docker-images, to make sure this issue still exists.

[2020-11-27 20:02] FibreFoX commented on #508
Running in a freshly built docker-container:
[code]

So all it comes down is that the docker-images for 32bit ARM do not contain these `compiler_builtins`, maybe worth a note in the README ;)

[2020-11-28 10:17] calixteman commented on #508
It's likely a problem in the rust built itself where `--enable-profiler` should be added (if it works on arm target).

[2020-11-28 13:14] calixteman commented on #485
Gcno/gcda version in recent clang has been set to 48 (when it was 42) but with no major changes.
When passing `--llvm`, there is no detection of what kind of file we've: we assume that gcno/gcda have been produced with llvm stuff and has a version equal to 42.
Anyway I ran grcov on these files and results are slightly better with the new version.

[2020-11-29 17:17] calixteman opened #528 "Remove useless `check_gcov_version`"
This function is no longer used anywhere.

[2020-11-30 16:59] FibreFoX commented on #508
@calixteman so nothing I can fix that fast on my end, and I did not use it wrong, right? Should I open a new issue on https://github.com/rust-lang/docker-rust then?

[2020-11-30 17:19] marco-c commented on #508
You can find the instructions at https://github.com/rust-lang/rust

[2020-11-30 17:27] calixteman commented on #508
Yeah you can try to file an issue on docker-rust but not sure if it's useful since the docker image almost contain only a call to `rustup`.

[2020-11-30 17:28] calixteman commented on #508
You can have a look on:
https://github.com/rust-lang/rust/tree/master/src/ci/docker
it may help.

[2020-11-30 18:07] gilescope commented on #326
@marco-c for tests I'm tempted to use command_access feature on nightly so I can see what the env vars set are (and only assert those bits of the test when run on nightly). But seems the only nice way to do that is to define a 'nightly' feature to know if it's nightly or not. If that's ok let me know. If not I'll ditch command_access and maybe wrap Command instead or maybe switchout the actual com

[2020-12-01 06:32] redtankd opened #531 "Source-based coverage doesn't support link-dead-code?"
I followed these steps:

[code]

And I got this result

<img width="718" alt="image" src="https://user-images.githubusercontent.com/6535864/100705063-8eb7cb00-33e1-11eb-8727-698ad23bd6a9.png">

The function `get_id(&self)` isn't count in the total. I added `-Clink-dead-code` to `RUSTFLAGS`, but it didn't work still.

gcov-based coverage is good.

[2020-12-02 11:24] marco-c commented on #326
That seems a bit ugly :(

[2020-12-02 11:25] marco-c commented on #531
@redtankd same result if you add `-Copt-level=0`?

[2020-12-02 11:26] gilescope commented on #326
Agreed - went for lots of quick integration tests, and looks like that's going to be fine as grcov is build on CI before it runs the tests so I can call it.

[2020-12-02 13:50] redtankd commented on #531
yes

[2020-12-02 15:31] #525 closed

[2020-12-02 21:30] marco-c commented on #531
@redtankd could you file an issue on https://github.com/rust-lang/rust?

[2020-12-02 21:36] marco-c commented on #520
https://github.com/rust-lang/rust/issues/79649

[2020-12-02 22:11] marco-c opened #535 "Find a better way to match binaries to profraws"
See https://github.com/rust-lang/rust/issues/79456#issuecomment-737513346.

The binary signature code in LLVM: https://github.com/llvm/llvm-project/blob/64ada7accbcccf1ef3ac4910d596e890570c64b2/compiler-rt/lib/profile/InstrProfilingMerge.c#L22-L37.

[2020-12-04 08:28] lu-zero commented on #326
It looks good, just make sure you default to have a custom `target-dir` so `cargo build` and `cargo grcov test` do not stomp on each other.

It would be good to add a `cargo grcov clean` that wipes the matching `target-dir` or all of them.

[2020-12-05 02:38] redtankd commented on #531
Source-based coverage is not stable enough now. I close this issue now. Thank you.

[2020-12-05 02:38] #531 closed

[2020-12-07 12:18] gilescope commented on #326
A custom target dir to avoid stomping - that's a great idea.

(To be honest it would be nice if rustc could hold a few different flavours
of builds in the target dir at once. It can handle check and build at the
same time without stomping, but it does definitely stomp at the moment when
we change rustcflags.)

On Fri, Dec 4, 2020 at 8:28 AM Luca Barbato <notifications@github.com>
wrote:

[2020-12-07 12:40] lu-zero commented on #326
Beware: changes in rustcflags would definitely invalidate everything almost all the time. Check is a conceptual subset of build even if right now it isn't exactly the case in practice (`cargo build && cargo check` would not run a quicker check).

[2020-12-10 17:18] gilescope commented on #326
True enough. Ideally we use the shiny new source based coverage, given that it's significantly closer to `correct` for rust.

[code]

I have lots of questions.

I'm thinking if we run a bunch of tests in different test exes that get created then we would not have one but several. (We can get the json output of the tests so we can figure out the exes but seems messy).

Is the location of the exe(s)

[2020-12-11 13:00] marcbrevoort-cyberhive opened #545 "Variable/incorrect coverage metrics depending on rustup default"
This relates to grcov 0.6.1.

When running grcov this does output metrics, however they seem off.

For instance, the reported degree of function-coverage may be (exactly) 50% for a file that has 100% of its lines covered, or the line count of a file shows more lines than the file actually contains.

When showing the visual representation of coverage of the actual files, however, the covered/uncove

[2020-12-13 09:04] vitorenesduarte commented on #483
I've described the same issue in https://github.com/actions-rs/grcov/issues/73. There I mentioned (https://github.com/actions-rs/grcov/issues/73#issuecomment-635205701) that the issue was not occurring when using Travis. But maybe it was because the format I was using in Travis was `coveralls`, not `lcov`.

Could this issue be specific to the `lcov` format?

[2020-12-13 15:41] vitorenesduarte commented on #483
I believe https://github.com/mozilla/grcov/pull/546 fixes this. It seems that the issue was not specific to any format.

[2020-12-14 22:54] marco-c commented on #545
You should probably avoid running grcov with a different Rust toolchain than what you used to build.
Do you still see differences if you build your project with stable and run grcov with stable vs build your project with nightly and run grcov with nightly?

Did you look at the actual line numbers? What lines don't actually exist in the file?

How are you computing the percentages?

I wonder if you

[2020-12-16 23:01] #483 closed

[2020-12-17 01:38] hwine opened #547 "Switch to Taskcluster from Travis CI"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2020-12-17 11:51] marcbrevoort-cyberhive commented on #545
`cargo build` only collects statistics under nightly, as this requires using `-Z` flags such as `-Zprofile -Zpanic_abort_tests -Zinstrument-coverage` which are unavailable in stable.

I have now run grcov with `--ignore "/*"` but the results, while significantly useful for TDD, are still a bit spotty - as shown below.
Strictly running on the nightly toolchain, this is some example HTML output:

[c

[2020-12-28 13:58] nabilmerk opened #551 "Using only llvm-tools"
Hi,

First of all, I'd like to thank you for this tool, it helps rust developers to get their code coverage in a friendly command line.

I've been trying to use the source based coverage (with success) but when I look at HTML report, it doesn't gave me the short-circuited conditionals. When looking at the [Rust blog](https://blog.rust-lang.org/inside-rust/2020/11/12/source-based-code-coverage.html

[2021-01-04 10:03] marco-c commented on #547
Duplicate of #547.

[2021-01-04 10:03] #547 closed

[2021-01-05 19:59] TriplEight opened #555 "[ERROR] Execution count overflow detected."
I'm getting `[ERROR] Execution count overflow detected.` when running with this setup:

[code]

Also sometimes, trying different ways of making `grcov` work, I'm getting `[ERROR] FN 'ink_env::backend::ReturnFlags::set_reverted' duplicated for 'crates/env/src/backend.rs' in a lcov file`

[2021-01-08 14:06] gdesmott opened #556 "output coverage summary (gitlab integration)"
It would be great to have an easy way to output on stdout the coverage summary in a way [easily parsable by gitlab](https://docs.gitlab.com/ee/ci/pipelines/settings.html#test-coverage-parsing).

[2021-01-08 14:07] gdesmott commented on #468
Thanks a lot @brycefisher that works great!

By any chance, did you find a way to also integrate the coverage summary, see #556 ?

[2021-01-08 15:46] gdesmott commented on #556
Found a workaround using `lcov`:

[code]

And then I use `\s*lines\.*:\s*([\d\.]+%)` as regexp in gitlab as suggested here: https://www.greycastle.se/how-to-show-flutter-test-coverage-in-gitlab-ci/

[2021-01-08 15:52] calixteman commented on #556
Any PR is welcome.
There are several examples of output so I'd say that isn't hard to do.

[2021-01-08 15:54] gdesmott commented on #556
Would you add this as a new `summary` output type?

[2021-01-08 15:59] calixteman commented on #556
I'm fine with `summary`.

[2021-01-08 16:04] GroteGnoom commented on #481
@marco-c Are you sure you want this changed? This seems like normal behavior. This prevents trouble with misspellings. Maybe it should add that the directory does not exist in the error info?

[2021-01-10 02:14] brycefisher commented on #468
I sorta did...let me see if I can dig that out...

[2021-01-10 02:17] brycefisher commented on #468
[code]

[2021-01-12 08:07] tcztzy opened #561 "Failed to create a symlink of profraw on nightly-msvc"
I followed the manual from README, both `.profraw` and `.gcda`. And then I try to run following command to generate coverage report have the same panic

[code]

I also read [this issure](https://github.com/mozilla/grcov/issues/462), but I need some Windows specified dependecies so I do pin `nightly-msvc`.

Is there any walkaround for this problem?

[2021-01-13 01:15] 0rphon commented on #462
getting the same issue. none of the fixes here worked for me

[2021-01-21 17:55] marco-c commented on #551
We could try to expand our `html` functions to support any functionality that is not supported yet.

Let me know when you do :)

[2021-01-21 18:05] marco-c commented on #481
@GroteGnoom you're right, it's better to simply improve the error message.

[2021-01-21 18:06] marco-c commented on #462
I'll try to get to this as soon as I get my hands on a Windows machine.

[2021-01-21 18:10] marco-c commented on #556
Duplicate of #468?

[2021-01-21 18:15] marco-c commented on #561
Are both source-based coverage and gcov-based coverage failing?

Before running `cargo test`, can you make sure you remove all *.profraw and *.gcda files that are in your source tree?

1. Remove all profraw and gcda files
2. `cargo build`
3. `cargo test`
4. Run `grcov`

If it still fails, can you try running `grcov PATHTOPROFRAW1 PATHTOPROFRAW2 ... -s . ` instead of `grcov . -s .`?

[2021-01-21 18:25] marco-c commented on #545
You can use those flags in stable by setting `RUSTC_BOOTSTRAP=1`.

This is partly expected, there are some things that are marked as uncovered (see #476 and all the other issues referenced in there).

You might have better luck on this front by using source-based code coverage (see https://github.com/mozilla/grcov/issues/476#issuecomment-732817417).

[2021-01-22 07:47] gdesmott commented on #556
No, #468 is about generating a full report in the Cobertura format, while this ticket is about just producing a summary (nb of lines covered / total nb of lines) for GitLab summary.

[2021-01-22 08:12] gdesmott commented on #555
We are facing a similar issue with `gstreamer-rs`: https://gitlab.freedesktop.org/gstreamer/gstreamer-rs/-/jobs/6804871

[2021-01-27 02:15] xiaolong-666 commented on #528
Hi @calixteman I want to contribute my strength, this will be my first open source contribution, can I solve it?

[2021-01-27 08:54] calixteman commented on #528
Sure you can.

[2021-01-28 01:31] xiaolong-666 commented on #528
Thanks @calixteman, I have push a merge request, please review

[2021-01-28 03:02] baoyachi opened #569 "Add more than information with build-time ？e.g shadow-rs"
`grcov`is a very useful project in rust, but according to the tools I used before, we usually want to feed back bugs or features, describing the current environment, git version, rust version, project version and more than...

`shadow-rs` is a very practical function doing these things.

maybe consider:[https://github.com/baoyachi/shadow-rs](https://github.com/baoyachi/shadow-rs) integrating it wi

[2021-01-28 22:45] wideglide opened #570 "floating point type error with gcov v9.3.0"
I'm geting a floating point error with grcov v0.7.1 and gcc/gcov version 9.3.0 on Ubuntu 20.04.

[code]

[2021-02-02 09:49] #528 closed

[2021-02-05 01:54] Yunsam-bijak opened #574 "Broken top_level link of generated html"
[Test_C_Project.zip](https://github.com/mozilla/grcov/files/5929569/Test_C_Project.zip)

When I make a project which has intermediate directories which do not have any source code or header file like below picture,

top level link of lowest folders or files point out index.html does not exist.

![image](https://user-images.githubusercontent.com/76931828/106978290-55b02400-679f-11eb-91d8-d5e730571d

[2021-02-06 17:12] zbraniecki commented on #555
I found this issue while trying to use grcov for `fluent-rs`.

[2021-02-07 03:12] zbraniecki opened #575 "Malformed instrumentation profile data"
I'm trying to run `grcov` locally against `fluent-rs`:

[code]

output:
[code]

What am I doing wrong?

[2021-02-07 03:16] zbraniecki commented on #575
I see that `grcov` used stable llvm-profdata here, and I don't think I can change that, so I also did `rustup default nightly` and redid all the steps and the error is:

[code]

[2021-02-11 22:28] marco-c commented on #575
@zbraniecki is there any chance there are some profraw files left from earlier executions? Can you make sure you remove all of them first, in any subdirectory of your CWD, and then try again?

[2021-02-12 03:49] a1ph opened #578 "cargo install grcov produces compile error at vendor/swift/include/llvm/ADT/iterator.h"
`cargo install grcov` stopped working on 2021-01-21
I suspect it is related to 0.7.x release

The error is:
[code]

[2021-02-12 11:12] #578 closed

[2021-02-12 19:36] lolo32 commented on #462
I've got another error on my Windows 10.

Without Administrator rights, it ends with:

    18:53:08 [ERROR] A panic occurred at C:\Users\User\.cargo\registry\src\github.com-1ecc6299db9ec823\grcov-0.7.1\src\producer.rs:297: Failed to create
 a symlink "D:\\Projets\\rust\\test_cover\\.\\your_name-8644-12395990519104456799_0.profraw" -> "C:\\Users\\User\\AppData\\Local\\Temp\\.tmpxic1nO\
\your_name-8

[2021-02-12 20:07] lolo32 commented on #462
Sorry, i'm replying to my previous report, I forget to install `llvm-tools-preview`.

[code]

Solved my previous problem, but I got another erro with the same command as the previous one:

    19:58:28 [ERROR] Execution count overflow detected.

[2021-02-18 21:55] nbaztec commented on #555
Facing the same issue:

[code]

[2021-02-23 03:05] csnover commented on #575
I’m seeing the same thing here, trying to run against [this tree](https://github.com/csnover/binread/tree/5e85a6fb8fcce19503091e07c464118b7fefcacd). This is a fresh install of `grcov`, I have had no `.profraw` files before, and I confirmed that no `.profraw` files existed before running `RUSTFLAGS="-Zinstrument-coverage" cargo +nightly test`.

One possibly relevant thing that happened after I trie

[2021-03-01 11:11] disconnect3d opened #586 "Better error message for case when zip contains .gcda but misses .gcno"
Hey,

It seems to me that .gcno and .gcda coverage data files are connected to each other and we can't really generate coverage output with .gcda files without the .gcno files. If that is true, then I think it would be nice to extend the following logic: https://github.com/mozilla/grcov/blob/cf5c0a73c2aad90ff23b16ef28072d407144e1f3/src/producer.rs#L544-L561

to have a verbose message for cases whe

[2021-03-07 18:18] mariot commented on #481
Hello! I can take on this feature if you want.
Just to be sure, the goal is to change the error message to say that the directory doesn't exist?
So the program would still panic but just with a clearer error message?
Thanks

[2021-03-07 22:07] seanpianka commented on #468
@brycefisher When I use the python (3) script on my `lcov.info` output, I get this error message...

[code]

Any advice on what could be wrong here? Thanks.

[2021-03-08 21:57] brycefisher commented on #468
Cool! My original snippet pulled from `master` on the Python project, so either it never worked for your use case, or an update since I posted broke it, or something along those lines. Sometimes, pinning a version can be handy for making things continue to work the same way over time (that or making you into a bitrotten purgatory that never ends...YMMV)

[2021-03-08 22:49] seanpianka commented on #468
Yep, thanks for mentioning that conversion script! Could you help with an issue related to GitLab?

I export the generated `coverage.xml` report, but GitLab seems to do nothing with it...
[code]

Do I need to use the `grep` command you posted, and use a regex to parse the code coverage from the job output?

[code]

[2021-03-08 22:58] seanpianka commented on #468
Also, is there anyway to use an `lcov.info` file as input to `grcov -t html`? I don't want `grcov` to regenerate the info file, I want it to re-use my processed version (the output from `rust-covfix`)... I can open a separate issue, if needed.

[2021-03-08 22:58] brycefisher commented on #468
Okay, so there's two parts:
 1. Feeding the full cobertura XML data into Gitlab so it can show inline test coverage on MRs. For that, the path to the coverage.xml file must be correct in the `artifacts:reports:cobertura` section of your .gitlabci.yml. I suspect that you might have feed the wrong path there? I generally start throwing `ls` and `cat` statements into my CI, or I download and run the

[2021-03-08 23:01] brycefisher commented on #468
Oh! One more thing, i _think_ that you also have to have a baseline from the target branch before this stuff starts being helpful. So maybe merge a trivial branch to master, or do a MR against a feature branch. Can't remember where the docs spell that out on GitlabCI....

[2021-03-08 23:06] seanpianka commented on #468
You're right, the code coverage results are visible in the merge requests! I completely overlooked those green/red lines next to each line... thanks for the tip! 😄

So, for getting the code coverage result for the badge (or somehow visible on the "Overview" page of each merge request?), I have to run the quoted `grep` command, then add a parsing regex to find it in the job output. What's the parsi

[2021-03-08 23:14] brycefisher commented on #468
Yeah, here what I have: `Test coverage (\d+\.\d)%`

[2021-03-08 23:25] seanpianka commented on #468
Using the quoted `grep`, I see a peculiar output:
[code]

Perhaps one of the capture groups is unnecessary?

[2021-03-08 23:43] seanpianka commented on #468
This seems to work alright!
[code]

[2021-03-13 12:55] mihaigalos opened #592 "Trait in same crate marked as not covered"
[Here](https://github.com/mihaigalos/url-install/blob/2bbc72297e89d3ceab95135250bc87791a34ec35/src/decompressor.rs#L1) I'm using traits defined in a separate [file](https://github.com/mihaigalos/url-install/blob/main/src/traits.rs).

This is marked as not tested, even though all the lines of the file are covered:
![image](https://user-images.githubusercontent.com/16443090/111030644-b6b4c280-8403-1

[2021-03-16 03:53] sabirmgd commented on #555
We are facing the same issue.

[2021-03-21 22:07] lolo32 commented on #561
I got the same problem, and I just tried what you asked: remove, guild, test, grcov

I found a temporary solution:

[2021-03-23 07:07] dbr opened #595 "Improve the documentation to explain usage of LLVM_PROFILE_FILE environment variable"
I did `cargo new --bin covtest` and modified `src/main.rs` to contain this:

[code]

I then, to the best of my knowledge, followed the instructions in the README (as of cf5c0a73c2aad90ff23b16ef28072d407144e1f3)
[code]
However the resulting report `target/debug/coverage/index.html` contains an empty table, as if no source files are found:

[code]

If I use the `-Zprofile` based, I do get output:

[

[2021-03-24 07:39] dbr commented on #498
I would have found something like this very useful when setting up coverage in a CI system - it's a helpful sanity check to have a short summary of coverage results in the log output instead of having to (fully) rely on the report (which with something liek codecov could, possibly, fail to upload)

[coverage.py's](https://coverage.readthedocs.io/en/coverage-5.5/) default report output is a good ex

[2021-03-25 22:45] tillyboy commented on #595
I am having a something similar on OSX. @dbr, are your reports off (in terms of lines) when you use `-Zprofile`.
E.g. I get comment lines marked red.

[code]

[2021-03-26 01:16] sivachandran commented on #555
I'm facing the same issue while trying to run grcov against https://github.com/uutils/coreutils.

[2021-03-29 22:51] dbr commented on #595
@tillyboy The `-Z profile` coverage is a bit off for me insomuch as things like some closing `}` lines or `match ... {` lines are marked as not covered (despite the surrounding lines being executed) - but I think that is to be expected, and it is why the source-based-coverage should be better (as it has better awareness of Rust's syntax)

[2021-04-08 18:02] petreeftime commented on #595
I've tried versions 0.6.1 through 0.7.1 and they all produce an empty output. Might be an issue with nightly for `instrument-coverage`.

[2021-04-09 08:54] dbr commented on #595
@petreeftime Ah that's a good point; using the nightly from the day [this blog post was made](https://blog.rust-lang.org/inside-rust/2020/11/12/source-based-code-coverage.html) (`2020-11-12`) produces same result, but using a random one from a month later (`nightly-2020-12-12`) seems to work

[code]

So I guess the question is if the problem lies with Rust (the output from newer nightlys is broken

[2021-04-13 07:27] geovie commented on #468
FYI: https://github.com/mozilla/grcov/pull/599 tries to implement this for grcov.

Please give it a try 🙏

[2021-04-13 20:10] winksaville commented on #575
I'm having the same problem in [this repo](https://github.com/winksaville/rust-binance-auto-sell):
[code]
I started with a `cargo clean`
[code]

[2021-04-15 18:09] marco-c commented on #595
I can't reproduce this with grcov 0.7.1 and latest Rust nightly. Are you still able to reproduce?

[2021-04-15 18:38] marco-c commented on #569
@baoyachi PR welcome!

[2021-04-15 18:49] marco-c commented on #570
What is `gcov` in your cmd line? Is it the `gcov` executable from GCC?
You shouldn't pass it to grcov, you should instead pass the paths to your coverage artifacts.

[2021-04-15 19:46] wideglide commented on #570
`gcov` is a directory with the source files and coverage artifacts.

[2021-04-15 19:52] marco-c commented on #570
@wideglide can you try running grcov on one artifact at a time? This way you can identify which one is breaking and upload it here.

Can you try with GCC 8 or GCC 10, to confirm it's restricted to GCC 9?

[2021-04-15 19:59] marco-c commented on #586
Sounds like a good idea to me.

[2021-04-15 20:01] marco-c commented on #481
@mariot yes, thanks!

[2021-04-15 20:02] link2xt commented on #595
I can still reproduce this. I have recently added coverage-generating script to https://github.com/deltachat/deltachat-core-rust/pull/2347 which uses non-source-based coverage because of this bug.

If I clone https://github.com/deltachat/deltachat-core-rust/ and try to generate source-based coverage, even with +nightly toolchain, it generates empty profile.

[2021-04-15 20:05] marco-c commented on #592
@mihaigalos which lines are marked as uncovered but should actually be covered?

Are you using source-based coverage or gcov-based coverage?

[2021-04-15 20:07] marco-c commented on #498
This would be just a matter of adding a new output format.

[2021-04-15 20:41] petreeftime commented on #595
I've updated to latest nightly and it seems to work for me now.

[2021-04-15 21:32] marco-c commented on #595
@link2xt can you upload the default.profraw here?

[2021-04-15 23:31] link2xt commented on #595
I am running:
[code]

Here is what I get:
![1](https://user-images.githubusercontent.com/18373967/114949090-f7678780-9e58-11eb-9944-4878cd326432.png)

Profraw file attached, is it useful without the binaries though?
[profraw.zip](https://github.com/mozilla/grcov/files/6321603/profraw.zip)

[2021-04-16 07:25] dbr commented on #595
`nightly-2021-04-15` seems to be working for my simple test case, shall try in the larger project which initially caused the problem soon

[2021-04-16 11:57] link2xt commented on #595
Could anyone who reports latest nightly as working for them try to generate source-based coverage for https://github.com/deltachat/deltachat-core-rust/ ? It does not require any additional setup besides `git clone` and `cargo test` to run the tests in the repository.

[2021-04-18 01:50] dbr commented on #595
@link2xt I got the same result just running `cargo test` with the flag run, however I think it is because the `default.profraw` file is getting overwritten by multiple processes (one for the tests, one for doctests, etc)

https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/source-based-code-coverage.html#test-coverage

If I run

[code]

then I get three files, two produce empty coverage

[2021-04-18 15:02] link2xt commented on #595
@dbr Separating by process ID helps indeed, I think the bug can be closed.

Although I found no way to get it down to one file. `RUSTFLAGS="-Zinstrument-coverage" LLVM_PROFILE_FILE="coverage-pid%p.profraw" cargo +nightly-2021-04-15 test --tests` still produces two files, one of which is empty.

[2021-04-19 09:24] marco-c commented on #595
I'll document this better in the README.

[2021-04-19 09:34] #468 closed

[2021-04-19 09:42] #595 closed

[2021-04-19 09:43] marco-c commented on #575
@zbraniecki @csnover @winksaville I've realized I didn't document this properly (see #595), but the LLVM_PROFILE_FILE environment variable should be used in non-trivial settings.
Can you ensure you do step 4 of https://github.com/mozilla/grcov#example-how-to-generate-source-based-coverage-for-a-rust-project before running tests, and report back on your results?

[2021-04-19 09:54] marco-c commented on #555
Just a note: you can ignore this error most of the times. It means a line was hit so often that it exceeds the maximum number that can be represented by a u64.

[2021-04-19 09:56] marco-c commented on #462
@lolo32 does the report look OK? That error can be ignored in most cases.

[2021-04-19 10:26] marco-c opened #603 "Update simplelog to v0.10"

[2021-04-19 10:28] #603 closed

[2021-04-19 12:33] lu-zero commented on #574
If @Yunsam-bijak can provide also the exact command line I can look into it.

[2021-04-22 14:00] #481 closed

[2021-04-23 20:03] andrewdavidmackenzie commented on #261
Related to this (I couldn't figure it out from the docs, sorry...) is there a way to exclude the tests module?

in kcov (providing you have the tests module always at the end of the file) you can explcude them all using:
[code]

[2021-04-23 20:13] andrewdavidmackenzie commented on #476
Did you implement a workaround to ignore the log:: macros you mentioned in initial comment, so that code like this with log statements doesn't show these kinds of coverage (which depends on the log-level set I assume):

![image](https://user-images.githubusercontent.com/5529132/115925242-1d0c1680-a481-11eb-87b8-c4bed800019e.png)

[2021-04-23 20:22] andrewdavidmackenzie commented on #555
Maybe if the error can be ignored and in fact things are working OK in terms of coverage of lines (but not counts for the lines exceeding u64::MAX I assume), it could be a WARN warning, with a message to say it only will affect you if you are paying attention to line counts?

[2021-04-24 01:03] thomcc commented on #476
I think we just turned the logging up to max, but it was a while ago. Not exactly the most satisfying answer, though.

[2021-04-25 16:56] lu-zero opened #605 "No builds for release 0.8.0"
Seems that the CI action did not trigger ?

[2021-04-26 07:28] marco-c commented on #605
Yeah, the Travis deploy failed: https://travis-ci.org/github/mozilla/grcov/jobs/767864686. Probably the token expired or something like that.
We should really switch to Taskcluster (#135), we have more control there and travis-ci.org will be shutting down in several weeks anyway...